#builder(style="display:none; margin-left:20px; margin-right:20px;")
  ul.nav#builder_top_toolbar(style="width:auto;")
    li.pull-left(style="padding-top:10px;")
      #builder_color_sel
        input.bcradio.pull-left#builder_W_radio(type="radio")
        label.bcrlabel.pull-left(for="builder_W_radio") White
        input.bcradio.pull-left#builder_U_radio(type="radio")
        label.bcrlabel.pull-left(for="builder_U_radio") Blue
        input.bcradio.pull-left#builder_B_radio(type="radio")
        label.bcrlabel.pull-left(for="builder_B_radio") Black
        input.bcradio.pull-left#builder_R_radio(type="radio")
        label.bcrlabel.pull-left(for="builder_R_radio") Red
        input.bcradio.pull-left#builder_G_radio(type="radio")
        label.bcrlabel.pull-left(for="builder_G_radio") Green
        input.bcradio.pull-left#builder_A_radio(type="radio")
        label.bcrlabel.pull-left(for="builder_A_radio") Artifact
    li.divider-vertical
    li.nav_section.pull-left
      #search
        <input class="input-medium search-query" type="text" placeholder="Search for a card" style="width:auto;"></input>
        <button class="btn bsearchbtn">Search</button>
    li.divider-vertical
    li.nav_section.pull-left
      select.bdrop_select
        option(selected="selected") Format
        option#builder_stn_sel Standard
        option#builder_mod_sel Modern
        option#builder_leg_sel Legacy
        option#builder_edh_sel EDH
    li.divider-vertical
    li.nav_section.pull-left
      select.bdrop_select#builder_set_opt
        option(selected="selected") Set
        option#builder_RtR_sel Return to Ravnica
        option#builder_M13_sel Magic 2013
        option#builder_AVR_sel Avacyn Restored
        option#builder_DKA_sel Dark Ascension
        option#builder_INN_sel Innistrad
    li.divider-vertical
    button.bsortbtn.btn.pull-left Mana Sort
    li.divider-vertical
    button.bsortbtn.btn.pull-left Name Sort
    li.divider-vertical
    button.bsortbtn.btn.pull-left Rarity Sort
    li.divider-vertical
  br
  br
  .builder_list_div.builder_list_pool_main
    table.builder_header_table
      thead#bthead_cardpool
        tr(style="display:table-row; text-align:left;")
          th.bth.bth_name Name
          th.bth.bth_type Type
          th.bth.bth_stype SubType
          th.bth.bth_power Power
          th.bth.bth_tough Toughness
          th.bth.bth_mana Mana
          th.bth.bth_set Set
          th.bth.bth_rarity Rarity
          th.bth.bth_flavor Flavor
    .builder_table_div#builder_cardpool_table
      table.builder_content_table
        tbody
          tr
            td(colspan="9")
              #builder_cardpool_table_inner(style="text-align:left; overflow-y:scroll;")
                table.builder_content_inner_table
                  tbody.builder_tbody#btbody_cardpool
                    tr
                      td.btd.btd_name Restoration Angel
                      td.btd.btd_type Creature
                      td.btd.btd_stype Angel
                      td.btd.btd_power 4
                      td.btd.btd_tough 5
                      td.btd.btd_mana 3W
                      td.btd.btd_set AVR
                      td.btd.btd_rarity Rare
                      td.btd.btd_flavor Restoration Angel
  br
  .builder_list_div.builder_list_pool_main
    table.builder_header_table
      thead#bthead_mainboard
        tr(style="display:table-row; text-align:left;")
          th.bth.bth_name Name
          th.bth.bth_type Type
          th.bth.bth_stype SubType
          th.bth.bth_power Power
          th.bth.bth_tough Toughness
          th.bth.bth_mana Mana
          th.bth.bth_set Set
          th.bth.bth_rarity Rarity
          th.bth.bth_flavor Flavor
    .builder_table_div#builder_mainboard_table
      table.builder_content_table
        tbody
          tr
            td(colspan="9")
              #builder_mainboard_table_inner(style="text-align:left; overflow-y:scroll;")
                table.builder_content_inner_table
                  tbody.builder_tbody#btbody_mainboard
                    tr
                      td.btd.btd_name Restoration Angel
                      td.btd.btd_type Creature
                      td.btd.btd_stype Angel
                      td.btd.btd_power 4
                      td.btd.btd_tough 5
                      td.btd.btd_mana 3W
                      td.btd.btd_set AVR
                      td.btd.btd_rarity Rare
                      td.btd.btd_flavor Restoration Angel
  br
  .builder_list_div.builder_list_side
    table.builder_header_table
      thead#bthead_sideboard
        tr(style="display:table-row; text-align:left;")
          th.bth.bth_name Name
          th.bth.bth_type Type
          th.bth.bth_stype SubType
          th.bth.bth_power Power
          th.bth.bth_tough Toughness
          th.bth.bth_mana Mana
          th.bth.bth_set Set
          th.bth.bth_rarity Rarity
          th.bth.bth_flavor Flavor
    .builder_table_div#builder_sideboard_table
      table.builder_content_table
        tbody
          tr
            td(colspan="9")
              #builder_sideboard_table_inner(style="text-align:left; overflow-y:scroll;")
                table.builder_content_inner_table
                  tbody.builder_tbody#btbody_sideboard
                    tr
                      td.btd.btd_name Restoration Angel
                      td.btd.btd_type Creature
                      td.btd.btd_stype Angel
                      td.btd.btd_power 4
                      td.btd.btd_tough 5
                      td.btd.btd_mana 3W
                      td.btd.btd_set AVR
                      td.btd.btd_rarity Rare
                      td.btd.btd_flavor Restoration Angel