<div id="builder">
	
  <div id="top-screen" class="clearfix">
    <div id="preview-wrapper" class="well pull-left">
      <div id="img-preview" data-bind="style: { backgroundImage: 'url(' + imgSrc() + ')' }"></div>
    </div>
    <div id="card-pool" class="well pull-left" style="position:relative;">
      <div id="card-pool-scroll" class="clearfix">
        <div id="card-pool-inner" class="pull-left clearfix"><div data-bind="foreach: mainboard">
          <div data-bind="foreach: columns">
            <div class="column" data-bind="foreach: cards, event: { mouseover: mouseOver }">
              <div class="card" data-bind="style: { backgroundImage: 'url(' + imgSrc() + ')' }, event: { mousedown: function(data,event){ mouseDownHandler('mainboard', event); }, mouseup: mouseUpHandler, mouseover: function(){ cardZoom($root,false) }, click: function(){ cardSelect('mainboard');cardZoom($root,true); }, dblclick: function(){ cardSelect('mainboard'); } }"/>
            </div>
          </div>
        </div>
        </div>
			</div>
			<div id="mainboard-select-prompt" class="board-select-prompt">
				<h1><span>Add # CardName to Mainboard</span></h1>
			</div>
    </div>
  </div><!-- End #top-screen -->
	
  <div id="control-bar-container">
		<div id="builder-control-bar" class="clearfix" style="width:100%;">
	    <div id="builder-control-bar-left" class="pull-left">
				<input id="builder-input" type="text" data-provide="typeahead" data-items="12" placeholder="Card Name" style="color:#fff;"/><!-- style="background-image:url('/static/img/lighter-filter.png');background-repeat:repeat;"-->
			</div>
			<div id="builder-control-bar-right" class="pull-right clearfix">
				<div id="offset-y-container" class="pull-left" style="display:none;">
					<div id="drag-offset-y" style="margin-left:auto;margin-right:auto;">
						<i class="icon-align-justify icon-white"></i>
					</div>
				</div>
				
				<div id="mainboard-breakdown" class="pull-left">
		      <span id="mainboard-total" data-bind="text: mainboardSize"></span>
		      <span>/40</span>
		      <span style="margin-left:17px;">Creatures:</span>
		      <span id="mainboard-creatures" data-bind="text: numMainboardCreatures"></span>
		      <span style="margin-left:17px;">Lands:</span>
		      <span id="mainboard-lands" data-bind="text: numMainboardLands"></span>
		    </div><!-- End #mainboard-breakdown -->
				
				<div id="control-bar-buttons" class="pull-right">
					<div class="pull-left btn-group">
						<button class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown" style="-webkit-border-radius: 4px 0 0 4px;-moz-border-radius: 4px 0 0 4px;border-radius: 4px 0 0 4px;">
							Sort<!--data-bind="event: { click : clearMainboard }"-->
						</button>
            <ul class="dropdown-menu pull-right" style="width:auto;min-width:0px;">
              <li>
                <a tabindex="-1" data-bind="event: { click: function(){ poolSortController.sortPool('mainboard'); } }">Mainboard</a>
              </li>
              <li>
                <a tabindex="-1" data-bind="event: { click: function(){ poolSortController.sortPool('sideboard'); } }">Sideboard</a>
              </li>   
            </ul>
					</div>	
						
					<div class="pull-left btn-group" style="margin-left:0;">	
		        <button class="btn pull-left btn-mini btn-primary dropdown-toggle" data-toggle="dropdown" style="-webkit-border-radius: 0 4px 4px 0;-moz-border-radius: 0 4px 4px 0;border-radius: 0 4px 4px 0;">
								<span id="aSortDisplay">by cost</span></button>
	            <ul class="dropdown-menu" style="width:auto;min-width:0;">
						    <li><a data-bind="event: { click: function(){ poolSortController.selectSortOption('cmc'); } }">by cost</a></li>
								<li><a data-bind="event: { click: function(){ poolSortController.selectSortOption('color'); } }">by color</a></li>
                <li><a data-bind="event: { click: function(){ poolSortController.selectSortOption('rarity'); } }">by rarity</a></li>
								<li style="display:none;"><a>by type</a></li>
	            </ul>
						</div>
					<div id="add-land-btn" class="btn-group pull-left">
		        <button id="addland" class="btn btn-mini btn-success dropdown-toggle" data-toggle="dropdown">Add Land</button>
			        <ul id="add-land-dropdown" class="dropdown-menu pull-right">
								<li class="clearfix">
									<div class="pull-left clearfix half-width">
										<div class="pull-left clearfix">
											<i class="icon-plus-sign pull-right" data-bind="event: { click: function(){ addLandController.incrLandCount('W'); } }"/>
										</div>
										<div class="pull-right">
											<img src="/static/img/white-mana.jpg">
										</div>
									</div>
									<div class="pull-right clearfix half-width">
										<div class="pull-left">
											<span data-bind="text: whiteLandCount">0</span>
										</div>
										<div class="pull-right clearfix">
											<i class="icon-minus-sign pull-left" data-bind="event: { click: function(){ addLandController.decrLandCount('W'); } }"/>
										</div>
									</div>
								</li>
								<li class="clearfix">
									<div class="pull-left clearfix half-width">
										<div class="pull-left clearfix">
											<i class="icon-plus-sign pull-right" data-bind="event: { click: function(){ addLandController.incrLandCount('U'); } }"/>
										</div>
										<div class="pull-right">
											<img src="/static/img/blue-mana.jpg">
										</div>
									</div>
									<div class="pull-right clearfix half-width">
										<div class="pull-left">
											<span data-bind="text: blueLandCount">0</span>
										</div>
										<div class="pull-right clearfix">
											<i class="icon-minus-sign pull-left" data-bind="event: { click: function(){ addLandController.decrLandCount('U'); } }"/>
										</div>
									</div>
								</li>
								<li class="clearfix">
									<div class="pull-left clearfix half-width">
										<div class="pull-left clearfix">
											<i class="icon-plus-sign pull-right" data-bind="event: { click: function(){ addLandController.incrLandCount('B'); } }"/>
										</div>
										<div class="pull-right">
											<img src="/static/img/black-mana.jpg">
										</div>
									</div>
									<div class="pull-right clearfix half-width">
										<div class="pull-left">
											<span data-bind="text: blackLandCount">0</span>
										</div>
										<div class="pull-right clearfix">
											<i class="icon-minus-sign pull-left" data-bind="event: { click: function(){ addLandController.decrLandCount('B'); } }"/>
										</div>
									</div>
								</li>
								<li class="clearfix">
									<div class="pull-left clearfix half-width">
										<div class="pull-left clearfix">
											<i class="icon-plus-sign pull-right" data-bind="event: { click: function(){ addLandController.incrLandCount('R'); } }"/>
										</div>
										<div class="pull-right">
											<img src="/static/img/red-mana.jpg">
										</div>
									</div>
									<div class="pull-right clearfix half-width">
										<div class="pull-left">
											<span data-bind="text: redLandCount">0</span>
										</div>
										<div class="pull-right clearfix">
											<i class="icon-minus-sign pull-left" data-bind="event: { click: function(){ addLandController.decrLandCount('R'); } }"/>
										</div>
									</div>
								</li>
								<li class="clearfix">
									<div class="pull-left clearfix half-width">
										<div class="pull-left clearfix">
											<i class="icon-plus-sign pull-right" data-bind="event: { click: function(){ addLandController.incrLandCount('G'); } }"/>
										</div>
										<div class="pull-right">
											<img src="/static/img/green-mana.jpg">
										</div>
									</div>
									<div class="pull-right clearfix half-width">
										<div class="pull-left">
											<span data-bind="text: greenLandCount">0</span>
										</div>
										<div class="pull-right clearfix">
											<i class="icon-minus-sign pull-left" data-bind="event: { click: function(){ addLandController.decrLandCount('G'); } }"/>
										</div>
									</div>
								</li>
			          <li style="display:none;">
									<div class="text-center">
			            	<button class="btn btn-mini btn-primary" data-bind="event: { click : landController.suggestLand }">Suggest</button>
									</div>
								</li>
								<li class="add-land-dropdown-btns clearfix">
									<div class="half-width pull-left">
			            	<button class="btn btn-mini btn-success pull-right" data-bind="event: { click: addLandController.addLandToMainboard }">Add</button>
									</div>
									<div class="half-width pull-right">
										<button class="btn btn-mini btn-danger pull-left" data-bind="event: { click : addLandController.resetLandCounters }">Reset</button>
									</div>
			          </li>
					 	 	</ul>
					</div>
					<div id="control-bar-settings-btn" class="btn-group pull-left">
						<button class="btn btn-mini btn-warning dropdown-toggle" data-toggle="dropdown">
							<i class="icon-white icon-cog"></i>
						</button>
							<ul class="dropdown-menu pull-right">
								<li id="card-size-slider" class="clearfix">
									<div id="card-size-slider-left" class="pull-left clearfix">
										<div id="card-size-slider-left-left" class="pull-left">
											<img src="../static/img/grey-card.png" class="pull-right"/>
										</div>
										<div id="card-size-slider-left-right" class="pull-right">
						      		<input id="slide" type="range" min="70" max="130" step="1" value="100" onchange="cardSizeChange(this.value);"/><!-- Todo onchange callback-->
										</div>
									</div>
									<div id="card-size-slider-right" class="pull-right clearfix">
										<img src="../static/img/grey-card.png" class="pull-right"/>
									</div>
								</li><!-- End #card-size-slider -->
							</ul>
					</div>
					<div id="reset-btn" class="btn-group pull-left">
						<button class="btn btn-mini btn-danger dropdown-toggle" data-toggle="dropdown">
							<i class="icon-white icon-remove"></i>
						</button>
							<ul class="dropdown-menu pull-right">
								<li><a data-bind="event: { click : poolClearController.clearMainboard }">Reset All</a></li>
								<li><a data-bind="event: { click : poolClearController.clearMainboardLands }">Reset Land</a></li>
							</ul>
					</div>
					<div id="save-btn" class="btn-group pull-left">
						<button class="btn btn-mini btn-success dropdown-toggle" data-toggle="dropdown">
							<span>Save Deck</span>
						</button>
							<ul class="dropdown-menu pull-right">
								<li><a data-bind="">Save</a></li>
								<li><a data-bind="">Save As</a></li>
							</ul>
					</div>
				</div><!--End #control-bar-buttons-->
				
			</div>
		</div>
		
  </div><!-- End #control-bar -->
	
  <div id="bottom-screen" class="clearfix">
		<div id="bottom-screen-left" class="pull-left clearfix">
	    <div id="builder-card-search" class="pull-left well" style="margin-left:5px;"><!--style="background-image:url('/static/img/lighter-filter.png');background-repeat:repeat;"-->
				<div id="builder-card-list-marker" style="height:0;"/>
				<div id="builder-add-card-prompt" class="clearfix" style="display:none;">
					<button type="button" class="close" style="color:#fff;margin-right:5px;text-shadow:none;opacity:1;" data-bind="event: {click: hideAddCardPrompt}">&times;</button>
					<div class="pull-left" style="width:50%;">
						<div style="width:90%;margin-left:auto;margin-right:auto;">
							<div id="add-card-thumbnail" data-bind="style: { backgroundImage: 'url(' + thumbSrc() + ')' }, event: { mouseover: showThumbAsPreview }" style="width:100%;background-image:url('/static/img/cardback.jpg');border-radius:10px;">
							</div>
						</div>
					</div>
					<div class="pull-right" style="width:50%;text-align:center;">
						<div id="add-card-btns" style="width:90%;margin-left:auto:margin-right:auto;">
							<div style="font-weight:600;font-size:18px;">
								Mainboard
							</div>
							<div>
								<span>
									<i class="icon-plus icon-white" data-bind="event: {click: function(){setMainMagnitude(1);}}"/>
								</span>
								<span data-bind="text: mainMagnitude"/>
								<span>
									<i class="icon-minus icon-white" data-bind="event: {click: function(){setMainMagnitude(-1);}}"/>
								</span>
							</div>
							<div style="font-weight:600;font-size:18px;margin-top:10px;">
								Sideboard
							</div>
							<div>
								<span>
									<i class="icon-plus icon-white" data-bind="event: {click: function(){setSideMagnitude(1);}}"/>
								</span>
								<span data-bind="text: sideMagnitude"/>
								<span>
									<i class="icon-minus icon-white" data-bind="event: {click: function(){setSideMagnitude(-1);}}"/>
								</span>
							</div>
							<div style="margin-top:10px;">
								<button class="btn btn-success" data-bind="event: {click: addChosenCardToBoards}">Add to Deck</button>
							</div>
						</div>
					</div>
				</div>
	    </div>
		</div>
    <div id="deck-area" class="well pull-right" style="margin-right:5px;position:relative;">
      <div id="deck-area-scroll">
       <div id="deck-area-inner">
         <div data-bind="foreach: sideboard">
           <div data-bind="foreach: columns">
             <div class="column" data-bind="foreach: cards, event: { mouseover: mouseOver }">
               <div class="card" data-bind="style: { backgroundImage: 'url(' + imgSrc() + ')' }, event: { mousedown: function(data,event){ mouseDownHandler('sideboard', event); }, mouseup: mouseUpHandler, mouseover: function(){ cardZoom($root,false) }, click: function(){ cardSelect('sideboard');cardZoom($root,true); }, dblclick: function(){ cardSelect('sideboard'); } }"/><!---->
             </div>
           </div>
         </div>
       </div>
      </div>
			<div id="sideboard-select-prompt" class="board-select-prompt">
				<h1><span>Add # CardName to Sideboard</span></h1>
			</div>
    </div>
  </div><!-- End #bottom-screen -->
	<div id="drag-drop-card" style="display:none;position:absolute;z-index:4000;"></div>
</div>
