#draft(style="display:block;")
  #pack-screen
    .row-fluid.no-height
      .span12
        .row-fluid.less-space.row-padding
          #preview.span2
            img#preview-src(src="/img/cardback.jpg")
          #pack.span10
            .row-fluid.less-space.row-padding
              .span1#pack-card-1
                img#pack-tran-1(src="/img/transparent.png")
              .span1#pack-card-2
                img#pack-tran-2(src="/img/transparent.png")
              .span1#pack-card-3
                img#pack-tran-3(src="/img/transparent.png")
              .span1#pack-card-4
                img#pack-tran-4(src="/img/transparent.png")
              .span1#pack-card-5
                img#pack-tran-5(src="/img/transparent.png")
              .span1#pack-card-6
                img#pack-tran-6(src="/img/transparent.png")
              .span1#pack-card-7
                img#pack-tran-7(src="/img/transparent.png")
              .span1#pack-card-8
                img#pack-tran-8#pack-row1-loaded(src="/img/transparent.png")
            .row-fluid.less-space.no-padding
              .span1#pack-card-9
                img#pack-tran-9(src="/img/transparent.png")
              .span1#pack-card-10
                img#pack-tran-10(src="/img/transparent.png")
              .span1#pack-card-11
                img#pack-tran-11(src="/img/transparent.png")
              .span1#pack-card-12
                img#pack-tran-12(src="/img/transparent.png")
              .span1#pack-card-13
                img#pack-tran-13(src="/img/transparent.png")
              .span1#pack-card-14
                img#pack-tran-14(src="/img/transparent.png")
              .span1#pack-card-15
                img(src="/img/transparent.png")
              .span1#pack-card-16
                img#pack-row2-loaded(src="/img/transparent.png")
    .row-fluid
      #control-bar.span12
  #pick-screen
    .row-fluid.no-height(style="padding-top:0.25%")
      .span12
        .row-fluid.less-space
          #pick-card-0-0.span1.stack.rounded
            img(src="/img/transparent.png")
          #pick-card-0-1.span1.stack.rounded
            img(src="/img/transparent.png")
          #pick-card-0-2.span1.stack.rounded
            img(src="/img/transparent.png")
          #pick-card-0-3.span1.stack.rounded
            img(src="/img/transparent.png")
          #pick-card-0-4.span1.stack.rounded
            img(src="/img/transparent.png")
          #pick-card-0-5.span1.stack.rounded
            img(src="/img/transparent.png")
          #pick-card-0-6.span1.stack.rounded
            img(src="/img/transparent.png")
          #pick-card-0-7.span1.stack.rounded
            img(src="/img/transparent.png")
          #pick-card-0-8.span1.stack.rounded
            img(src="/img/transparent.png")
          #pick-card-0-9.span1.stack.rounded
            img#pick-row-loaded(src="/img/transparent.png")
  #disclaimer
    small
      "Magic the Gathering is TM and copyright Wizards of the Coast, Inc, a subsidiary of Hasbro, Inc. All rights reserved. This site is unaffiliated. Articles and comments are user-submitted and do not represent official endorsements of this site."