#draft-builder(style="display:none;")
  #top-screen
    #img-preview.pull-left
    #card-pool
      #card-pool-scroll
        #card-pool-inner(style="width:2000px;height:2000px;")
  #control-bar
  #bottom-screen
    #deck-area
      #deck-area-inner(style="width:2000px;height:2000px;")