#draft-builder(style="display:none;")
  #top-screen
    #preview-wrapper.well
      #img-preview
    #card-pool.well
      #card-pool-scroll
        #card-pool-inner
          #card-pool-row-0(style="padding-top:3px;")
            #card-pool-0-0.card
            #card-pool-0-1.card
            #card-pool-0-2.card
            #card-pool-0-3.card
            #card-pool-0-4.card
            #card-pool-0-5.card
            #card-pool-0-6.card
  #control-bar
    #mainboard-breakdown.pull-left
      #mainboard-total.well 0
      span(style="margin-left:3px;") /40
      span(style="margin-left:17px;margin-right:3px;") Creatures:
      #mainboard-creatures.well 0
      span(style="margin-left:17px;margin-right:3px;") Lands:
      #mainboard-lands.well 0
    #card-size-slider.well(style="display:inline-block;color:#fff;")
      input#slide(type="range", min="70", max="170", step="1", value="100", onchange="cardSizeChange(this.value);")
    #sort
      .input-prepend
        #sort-wrapper.btn-primary
          .btn-group
            button#sort-button.btn.btn-mini.btn-primary.dropdown-toggle(data-toggle="dropdown")
              span Sort
            ul.dropdown-menu
              li
                a(tabindex="-1", href="#") Mainboard
              li
                a(tabindex="-1", href="#") Sideboard
          span#prependedInput
            select
              option#sort-color by color
              option#sort-cost by cost
              option#sort-type by type
              option#sort-rarity by rarity
    #add-land.pull-right(style="text-align:center;margin:0px;")
      .btn-group
        button#add-land-button.btn.btn-mini.btn-success.dropdown-toggle(data-toggle="dropdown")
          span Add Land
        ul#add-land-dropdown.dropdown-menu(style="top:18px;left:-35px;width:136px;min-width:136px;")
          li#white-mana
            i.icon-plus-sign.pull-left(style="position:relative;top:2px;left:25px;")
            img(src="/img/white-mana.jpg")
            span : 0
            i.icon-minus-sign.pull-right(style="position:relative;top:2px;right:25px;")
          li#blue-mana
            i.icon-plus-sign.pull-left(style="position:relative;top:2px;left:25px;")
            img(src="/img/blue-mana.jpg")
            span : 0
            i.icon-minus-sign.pull-right(style="position:relative;top:2px;right:25px;")
          li#black-mana
            i.icon-plus-sign.pull-left(style="position:relative;top:2px;left:25px;")
            img(src="/img/black-mana.jpg")
            span : 0
            i.icon-minus-sign.pull-right(style="position:relative;top:2px;right:25px;")
          li#red-mana
            i.icon-plus-sign.pull-left(style="position:relative;top:2px;left:25px;")
            img(src="/img/red-mana.jpg")
            span : 0
            i.icon-minus-sign.pull-right(style="position:relative;top:2px;right:25px;")
          li#green-mana
            i.icon-plus-sign.pull-left(style="position:relative;top:2px;left:25px;")
            img(src="/img/green-mana.jpg")
            span : 0
            i.icon-minus-sign.pull-right(style="position:relative;top:2px;right:25px;")
          li(style="padding-top:4px;")
            button.btn.btn-small.btn-primary(style="margin-right:4px;") Suggest
            button.btn.btn-small.btn-success Add
  #bottom-screen
    #deck-area.well
      #deck-area-scroll
        #deck-area-inner
          #deck-area-row-0(style="padding-top:3px;")
            #deck-area-0-0.card
            #deck-area-0-1.card
            #deck-area-0-2.card
            #deck-area-0-3.card
            #deck-area-0-4.card
            #deck-area-0-5.card
            #deck-area-0-6.card