#draft(style="display:none;")
  #pack-screen
    .row-fluid.no-height
      .span12
        .row-fluid.less-space.no-padding
          #preview.span2
            img#preview-src(src="/img/transparent.png")
          #pack.span10
            .row-fluid.less-space.row-padding
              #pack-card-1.span1
                img(src="/img/transparent.png")
              #pack-card-2.span1
                img(src="/img/transparent.png")
              #pack-card-3.span1
                img(src="/img/transparent.png")
              #pack-card-4.span1
                img(src="/img/transparent.png")
              #pack-card-5.span1
                img(src="/img/transparent.png")
              #pack-card-6.span1
                img(src="/img/transparent.png")
              #pack-card-7.span1
                img(src="/img/transparent.png")
              #pack-card-8.span1
                img#pack-tran-8(src="/img/transparent.png")
            .row-fluid.less-space.no-padding
              #pack-card-9.span1
                img(src="/img/transparent.png")
              #pack-card-10.span1
                img(src="/img/transparent.png")
              #pack-card-11.span1
                img(src="/img/transparent.png")
              #pack-card-12.span1
                img(src="/img/transparent.png")
              #pack-card-13.span1
                img(src="/img/transparent.png")
              #pack-card-14.span1
                img(src="/img/transparent.png")
              #pack-card-15.span1
                img(src="/img/transparent.png")
              #pack-card-16.span1
                img#pack-tran-16(src="/img/transparent.png")
    .row-fluid
      #control-bar.span12
        .span3 Pick #, Pack #
        .span3 1:30
        .span3
          .input-prepend
            .btn-group
              button.btn.dropdown-toggle(data-toggle="dropdown") Sort
              ul.dropdown-menu
                li
                  a(tabindex="-1", href="#") Pack
                li
                  a(tabindex="-1", href="#") Picks
            select
              option by color
              option by cost
              option by type
              option by rarity
        .span3
          button.btn(onclick="Draft.shufflePack();") Shuffle pack
  #pick-screen
    .row-fluid.no-height
      #pick-table.span12
        #row0.row-fluid.less-space
          #pick-card-0-0.span1.stack.rounded
            img(src="/img/transparent.png")
          #pick-card-0-1.span1.stack.rounded
            img(src="/img/transparent.png")
          #pick-card-0-2.span1.stack.rounded
            img(src="/img/transparent.png")
          #pick-card-0-3.span1.stack.rounded
            img(src="/img/transparent.png")
          #pick-card-0-4.span1.stack.rounded
            img(src="/img/transparent.png")
          #pick-card-0-5.span1.stack.rounded
            img(src="/img/transparent.png")
          #pick-card-0-6.span1.stack.rounded
            img(src="/img/transparent.png")
          #pick-card-0-7.span1.stack.rounded
            img(src="/img/transparent.png")
          #pick-card-0-8.span1.stack.rounded
            img(src="/img/transparent.png")
          #pick-card-0-9.span1.stack.rounded
            img#pick-row-loaded(src="/img/transparent.png")
  #disclaimer
    small Magic the Gathering is TM and copyright Wizards of the Coast, Inc, a subsidiary of Hasbro, Inc. All rights reserved. This site is unaffiliated. Articles and comments are user-submitted and do not represent official endorsements of this site.