#draft-builder(style="display:none;")
  #top-screen
    #img-preview.pull-left
    #card-pool
      #card-pool-scroll
        #card-pool-inner
          #card-pool-row-0(style="padding-top:3px;padding-bottom:3px;")
            #card-pool-0-0.card
            #card-pool-0-1.card
            #card-pool-0-2.card
            #card-pool-0-3.card
            #card-pool-0-4.card
            #card-pool-0-5.card
            #card-pool-0-6.card
  #control-bar
    #mainboard-breakdown.pull-left
      span#mainboard-total 0/40
      span#mainboard-creatures Creatures: 0
      span#mainboard-lands Lands: 0
    #sort
      .input-prepend
        #sort-wrapper.btn-primary
          .btn-group
            button#sort-button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
              i.icon-refresh.icon-white
              span Sort
            ul.dropdown-menu
              li
                a(tabindex="-1", href="#") Mainboard
              li
                a(tabindex="-1", href="#") Sideboard
          span#prependedInput
            select
              option by color
              option by cost
              option by type
              option by rarity
  #bottom-screen
    #deck-area
      #deck-area-scroll
        #deck-area-inner
          #deck-area-row-0(style="padding-top:3px;")
            #deck-area-0-0.card
            #deck-area-0-1.card
            #deck-area-0-2.card
            #deck-area-0-3.card
            #deck-area-0-4.card
            #deck-area-0-5.card
            #deck-area-0-6.card