#foyer(style="display:none;")
  #chat.row
    #chat-shown.span12
      .row-fluid(style="text-align:center;")
        #left-pane
          #convo.span12
            #convo-inner
              .chat-msg 
                span Welcome to LimitedMTG.com!
          #chat-input.span12
            textarea#chat-msg.span9
            button#chat-send-btn.btn.btn-small.btn-success Send
            input#color-picker(type="color")
        #middle-pane
          #userlist.span12
        #right-pane
          #sets.span12
            table.table.table-bordered.table-striped
              tr#GTC.success.set-tr
                td.set-title Gatecrash (GTC)
                td.set-queue 0/8
              tr#RTR.set-tr
                td.set-title Return to Ravnica (RTR)
                td.set-queue 0/8
              tr#M13.set-tr
                td.set-title Magic 2013 (M13)
                td.set-queue 0/8
              tr#AVR.set-tr
                td.set-title Avacyn Restored (AVR)
                td.set-queue 0/8
              tr#DKA.set-tr
                td.set-title Dark Ascension (DKA)
                td.set-queue 0/8
              tr#ISD.set-tr
                td.set-title Innistrad (ISD)
                td.set-queue 0/8
              tr#M12.set-tr
                td.set-title Magic 2012 (M12)
                td.set-queue 0/8
              tr#NPH.set-tr
                td.set-title New Phyrexia (NPH)
                td.set-queue 0/8
              tr#MBS.set-tr
                td.set-title Mirrodin Besieged (MBS)
                td.set-queue 0/8
              tr#SOM.set-tr
                td.set-title Scars of Mirrodin (SOM)
                td.set-queue 0/8
              tr#M11.set-tr
                td.set-title Magic 2011 (M11)
                td.set-queue 0/8
              tr#ROE.set-tr
                td.set-title Rise of the Eldrazi (ROE)
                td.set-queue 0/8
              tr#WWK.set-tr
                td.set-title Worldwake (WWK)
                td.set-queue 0/8
              tr#ZEN.set-tr
                td.set-title Zendikar (ZEN)
                td.set-queue 0/8
              tr#M10.set-tr
                td.set-title Magic 2010 (M10)
                td.set-queue 0/8
              tr#ARB.set-tr
                td.set-title Alara Reborn (ARB)
                td.set-queue 0/8
              tr#CON.set-tr
                td.set-title Conflux (CON)
                td.set-queue 0/8
              tr#ALA.set-tr
                td.set-title Shards of Alara (ALA)
                td.set-queue 0/8
              tr#EVE.set-tr
                td.set-title Eventide (EVE)
                td.set-queue 0/8
              tr#SHM.set-tr
                td.set-title Shadowmoor (SHM)
                td.set-queue 0/8
              tr#MOR.set-tr
                td.set-title Morningtide (MOR)
                td.set-queue 0/8
              tr#LRW.set-tr
                td.set-title Lorwyn (LRW)
                td.set-queue 0/8
              tr#10E.set-tr
                td.set-title Core Set: Tenth Edition (10E)
                td.set-queue 0/8
              tr#FUT.set-tr
                td.set-title Future Sight (FUT)
                td.set-queue 0/8
              tr#PLC.set-tr
                td.set-title Planar Chaos (PLC)
                td.set-queue 0/8
              tr#TSP.set-tr
                td.set-title Time Spiral (TSP)
                td.set-queue 0/8
              tr#DIS.set-tr
                td.set-title Dissension (DIS)
                td.set-queue 0/8
              tr#GPT.set-tr
                td.set-title Guildpact (GPT)
                td.set-queue 0/8
              tr#RAV.set-tr
                td.set-title Ravnica: City of Guilds (RAV)
                td.set-queue 0/8
              tr#9ED.set-tr
                td.set-title Core Set: Ninth Edition (9ED)
                td.set-queue 0/8
              tr#SOK.set-tr
                td.set-title Saviors of Kamigawa (SOK)
                td.set-queue 0/8
              tr#BOK.set-tr
                td.set-title Betrayers of Kamigawa (BOK)
                td.set-queue 0/8
              tr#CHK.set-tr
                td.set-title Champions of Kamigawa (CHK)
                td.set-queue 0/8
              tr#5DN.set-tr
                td.set-title Fifth Dawn (5DN)
                td.set-queue 0/8
              tr#set-DST.set-tr
                td.set-title Darksteel (DST)
                td.set-queue 0/8
              tr#set-MRD.set-tr
                td.set-title Mirrodin (MRD)
                td.set-queue 0/8
              tr#8ED.set-tr
                td.set-title Core Set: Eighth Edition (8ED)
                td.set-queue 0/8
              tr#SCG.set-tr
                td.set-title Scourge (SCG)
                td.set-queue 0/8
              tr#LGN.set-tr
                td.set-title Legions (LGN)
                td.set-queue 0/8
              tr#ONS.set-tr
                td.set-title Onslaught (ONS)
                td.set-queue 0/8
              tr#JUD.set-tr
                td.set-title Judgment (JUD)
                td.set-queue 0/8
              tr#TOR.set-tr
                td.set-title Torment (TOR)
                td.set-queue 0/8
              tr#ODY.set-tr
                td.set-title Odyssey (ODY)
                td.set-queue 0/8
              tr#7ED.set-tr
                td.set-title Seventh Edition (7ED)
                td.set-queue 0/8
              tr#APC.set-tr
                td.set-title Apocalypse (APC)
                td.set-queue 0/8
              tr#PLS.set-tr
                td.set-title Planeshift (PLS)
                td.set-queue 0/8
              tr#INV.set-tr
                td.set-title Invasion (INV)
                td.set-queue 0/8
              tr#PCY.set-tr
                td.set-title Prophecy (PCY)
                td.set-queue 0/8
              tr#NMS.set-tr
                td.set-title Nemesis (NMS)
                td.set-queue 0/8
              tr#MMQ.set-tr
                td.set-title Mercadian Masques (MMQ)
                td.set-queue 0/8
              tr#6ED.set-tr
                td.set-title Classic Sixth Edition (6ED)
                td.set-queue 0/8
              tr#UDS.set-tr
                td.set-title Urza's Destiny (UDS)
                td.set-queue 0/8
              tr#ULG.set-tr
                td.set-title Urza's Legacy (ULG)
                td.set-queue 0/8
              tr#USG.set-tr
                td.set-title Urza's Saga (USG)
                td.set-queue 0/8
              tr#EXO.set-tr
                td.set-title Exodus (EXO)
                td.set-queue 0/8
              tr#STH.set-tr
                td.set-title Stronghold (STH)
                td.set-queue 0/8
              tr#TMP.set-tr
                td.set-title Tempest (TMP)
                td.set-queue 0/8
              tr#5ED.set-tr
                td.set-title Fifth Edition (5ED)
                td.set-queue 0/8
              tr#WTH.set-tr
                td.set-title Weatherlight (WTH)
                td.set-queue 0/8
              tr#VIS.set-tr
                td.set-title Visions (VIS)
                td.set-queue 0/8
              tr#MIR.set-tr
                td.set-title Mirage (MIR)
                td.set-queue 0/8
              tr#CSP.set-tr
                td.set-title Coldsnap (CSP)
                td.set-queue 0/8
              tr#ALL.set-tr
                td.set-title Alliances (ALL)
                td.set-queue 0/8
              tr#ICE.set-tr
                td.set-title Ice Age (ICE)
                td.set-queue 0/8
              tr#4ED.set-tr
                td.set-title Fourth Edition (4ED)
                td.set-queue 0/8
              tr#HML.set-tr
                td.set-title Homelands (HML)
                td.set-queue 0/8
              tr#FEM.set-tr
                td.set-title Fallen Empires (FEM)
                td.set-queue 0/8
              tr#DRK.set-tr
                td.set-title The Dark (DRK)
                td.set-queue 0/8
              tr#LEG.set-tr
                td.set-title Legends (LEG)
                td.set-queue 0/8
              t#3ED.set-tr
                td.set-title Revised Edition (3ED)
                td.set-queue 0/8
              tr#ATQ.set-tr
                td.set-title Antiquities (ATQ)
                td.set-queue 0/8
              tr#ARN.set-tr
                td.set-title Arabian Nights (ARN)
                td.set-queue 0/8
              tr#2ED.set-tr
                td.set-title Unlimited (2ED)
                td.set-queue 0/8
              tr#LEB.set-tr
                td.set-title Limited Edition Beta (LEB)
                td.set-queue 0/8
              tr#LEA.set-tr
                td.set-title Limited Edition Alpha (LEA)
                td.set-queue 0/8
          #set-select.span12
            button#select-draft-button.btn.btn-small Draft
            button#select-sealed-button.btn.btn-small Sealed
  #nickname-lightbox.opacity60(style="display:none;")
    #nickname-lightbox-inner
      a#hide-lightbox-button
        i.icon-remove.icon-white.pull-right
      h2(style="padding-top:15px;") Please provide a nickname:
      input#nick-input
      br
      button#nick-submit-btn.btn.btn-success.btn-large(style="margin-top:15px;") Submit