#foyer(style="display:block;")
  #join
    #front-page-info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    #front-page-buttons
      button#draft-button.btn.btn-large.btn-success(onclick="Foyer.draftSet('GTC');") Join Gatecrash Draft
      button#sealed-button.btn.btn-large.btn-success(onclick="Sealed.startSealed('GTC');") Gatecrash Sealed
      #chat-hidden
        #chat-button.button.btn.btn-large.btn-primary(onclick="Foyer.showLightbox();") Chat
      #queue_list(style="display:none;")
        #queue_size 0 players
        #player_list
  #chat.row
    #chat-shown.span12(style="display:none;")
      .row-fluid
        #left-pane.span7.offset1
          #convo.span12
            .chat-msg Welcome
            .chat-msg
              span.chat-username(style="color:red;") Username1: 
              span Test aofnaonfawfwaidjioawjfdioglksdnvkljndlkmcaoisfliawijflkngjfnb fdkbnfd kjnganfgoanjflkdlkfflksnfaejbfjkrbgnkjrn
        #right-pane.span3
          #userlist.span12
            .chat-user(style="color:red;")
              span.chat-username Username1
              span.chat-status GTC Draft
          #chat-input.span12
            textarea.span12
            input#color-picker.pull-left(type="color")
            button.btn.btn-small.btn-success.pull-right Send
  #screenshot-carousel.carousel.slide
    .carousel-inner
      .item.active
        img(src="/img/builder_screenshot.png")
      .item
        img(src="/img/draft_screenshot.png")
  #nickname-lightbox.opacity60(style="display:none;")
    #nickname-lightbox-inner
      a#hide-lightbox-button(onclick="Foyer.hideLightbox();")
        i.icon-remove.icon-white.pull-right
      h2(style="padding-top:15px;") Please provide a nickname:
      input
      br
      button.btn.btn-success.btn-large(style="margin-top:15px;", onclick="Foyer.showChat();") Submit