#foyer(style="display:none;")
  #chat.row
    #chat-shown.span12
      .row-fluid(style="text-align:center;")
        #left-pane
          #convo.span12
            #convo-inner
              .chat-msg 
                span Welcome to LimitedMTG.com!
          #chat-input.span12
            textarea#chat-msg.span9
            button#chat-send-btn.btn.btn-small.btn-success Send
            input#color-picker(type="color")
        #middle-pane
          #userlist.span12
        #right-pane
          #sets.span12
            table.table.table-bordered.table-striped
              tr#GTC.success
                td.set-title.set-td Gatecrash (GTC)
                td.set-queue.set-td 0/8
              tr#RTR.set-tr
                td.set-title.set-td Return to Ravnica (RTR)
                td.set-queue.set-td 0/8
              tr#M13.set-tr
                td.set-title.set-td Magic 2013 (M13)
                td.set-queue.set-td 0/8
              tr#AVR.set-tr
                td.set-title.set-td Avacyn Restored (AVR)
                td.set-queue.set-td 0/8
              tr#DKA.set-tr
                td.set-title.set-td Dark Ascension (DKA)
                td.set-queue.set-td 0/8
              tr#ISD.set-tr
                td.set-title.set-td Innistrad (ISD)
                td.set-queue.set-td 0/8
              tr#M12.set-tr
                td.set-title.set-td Magic 2012 (M12)
                td.set-queue.set-td 0/8
              tr#NPH.set-tr
                td.set-title.set-td New Phyrexia (NPH)
                td.set-queue.set-td 0/8
              tr#MBS.set-tr
                td.set-title.set-td Mirrodin Besieged (MBS)
                td.set-queue.set-td 0/8
              tr#SOM.set-tr
                td.set-title.set-td Scars of Mirrodin (SOM)
                td.set-queue.set-td 0/8
              tr#M11.set-tr
                td.set-title.set-td Magic 2011 (M11)
                td.set-queue.set-td 0/8
              tr#ROE.set-tr
                td.set-title.set-td Rise of the Eldrazi (ROE)
                td.set-queue.set-td 0/8
              tr#WWK.set-tr
                td.set-title.set-td Worldwake (WWK)
                td.set-queue.set-td 0/8
              tr#ZEN.set-tr
                td.set-title.set-td Zendikar (ZEN)
                td.set-queue.set-td 0/8
              tr#M10.set-tr
                td.set-title.set-td Magic 2010 (M10)
                td.set-queue.set-td 0/8
              tr#ARB.set-tr
                td.set-title.set-td Alara Reborn (ARB)
                td.set-queue.set-td 0/8
              tr#CON.set-tr
                td.set-title.set-td Conflux (CON)
                td.set-queue.set-td 0/8
              tr#ALA.set-tr
                td.set-title.set-td Shards of Alara (ALA)
                td.set-queue.set-td 0/8
              tr#EVE.set-tr
                td.set-title.set-td Eventide (EVE)
                td.set-queue.set-td 0/8
              tr#SHM.set-tr
                td.set-title.set-td Shadowmoor (SHM)
                td.set-queue.set-td 0/8
              tr#MOR.set-tr
                td.set-title.set-td Morningtide (MOR)
                td.set-queue.set-td 0/8
              tr#LRW.set-tr
                td.set-title.set-td Lorwyn (LRW)
                td.set-queue.set-td 0/8
              tr#10E.set-tr
                td.set-title.set-td Core Set: Tenth Edition (10E)
                td.set-queue.set-td 0/8
              tr#FUT.set-tr
                td.set-title.set-td Future Sight (FUT)
                td.set-queue.set-td 0/8
              tr#PLC.set-tr
                td.set-title.set-td Planar Chaos (PLC)
                td.set-queue.set-td 0/8
              tr#TSP.set-tr
                td.set-title.set-td Time Spiral (TSP)
                td.set-queue.set-td 0/8
              tr#DIS.set-tr
                td.set-title.set-td Dissension (DIS)
                td.set-queue.set-td 0/8
              tr#GPT.set-tr
                td.set-title.set-td Guildpact (GPT)
                td.set-queue.set-td 0/8
              tr#RAV.set-tr
                td.set-title.set-td Ravnica: City of Guilds (RAV)
                td.set-queue.set-td 0/8
              tr#9ED.set-tr
                td.set-title.set-td Core Set: Ninth Edition (9ED)
                td.set-queue.set-td 0/8
              tr#SOK.set-tr
                td.set-title.set-td Saviors of Kamigawa (SOK)
                td.set-queue.set-td 0/8
              tr#BOK.set-tr
                td.set-title.set-td Betrayers of Kamigawa (BOK)
                td.set-queue.set-td 0/8
              tr#CHK.set-tr
                td.set-title.set-td Champions of Kamigawa (CHK)
                td.set-queue.set-td 0/8
              tr#5DN.set-tr
                td.set-title.set-td Fifth Dawn (5DN)
                td.set-queue.set-td 0/8
              tr#set-DST.set-tr
                td.set-title.set-td Darksteel (DST)
                td.set-queue.set-td 0/8
              tr#set-MRD.set-tr
                td.set-title.set-td Mirrodin (MRD)
                td.set-queue.set-td 0/8
              tr#8ED.set-tr
                td.set-title.set-td Core Set: Eighth Edition (8ED)
                td.set-queue.set-td 0/8
              tr#SCG.set-tr
                td.set-title.set-td Scourge (SCG)
                td.set-queue.set-td 0/8
              tr#LGN.set-tr
                td.set-title.set-td Legions (LGN)
                td.set-queue.set-td 0/8
              tr#ONS.set-tr
                td.set-title.set-td Onslaught (ONS)
                td.set-queue.set-td 0/8
              tr#JUD.set-tr
                td.set-title.set-td Judgment (JUD)
                td.set-queue.set-td 0/8
              tr#TOR.set-tr
                td.set-title.set-td Torment (TOR)
                td.set-queue.set-td 0/8
              tr#ODY.set-tr
                td.set-title.set-td Odyssey (ODY)
                td.set-queue.set-td 0/8
              tr#7ED.set-tr
                td.set-title.set-td Seventh Edition (7ED)
                td.set-queue.set-td 0/8
              tr#APC.set-tr
                td.set-title.set-td Apocalypse (APC)
                td.set-queue.set-td 0/8
              tr#PLS.set-tr
                td.set-title.set-td Planeshift (PLS)
                td.set-queue.set-td 0/8
              tr#INV.set-tr
                td.set-title.set-td Invasion (INV)
                td.set-queue.set-td 0/8
              tr#PCY.set-tr
                td.set-title.set-td Prophecy (PCY)
                td.set-queue.set-td 0/8
              tr#NMS.set-tr
                td.set-title.set-td Nemesis (NMS)
                td.set-queue.set-td 0/8
              tr#MMQ.set-tr
                td.set-title.set-td Mercadian Masques (MMQ)
                td.set-queue.set-td 0/8
              tr#6ED.set-tr
                td.set-title.set-td Classic Sixth Edition (6ED)
                td.set-queue.set-td 0/8
              tr#UDS.set-tr
                td.set-title.set-td Urza's Destiny (UDS)
                td.set-queue.set-td 0/8
              tr#ULG.set-tr
                td.set-title.set-td Urza's Legacy (ULG)
                td.set-queue.set-td 0/8
              tr#USG.set-tr
                td.set-title.set-td Urza's Saga (USG)
                td.set-queue.set-td 0/8
              tr#EXO.set-tr
                td.set-title.set-td Exodus (EXO)
                td.set-queue.set-td 0/8
              tr#STH.set-tr
                td.set-title.set-td Stronghold (STH)
                td.set-queue.set-td 0/8
              tr#TMP.set-tr
                td.set-title.set-td Tempest (TMP)
                td.set-queue.set-td 0/8
              tr#5ED.set-tr
                td.set-title.set-td Fifth Edition (5ED)
                td.set-queue.set-td 0/8
              tr#WTH.set-tr
                td.set-title.set-td Weatherlight (WTH)
                td.set-queue.set-td 0/8
              tr#VIS.set-tr
                td.set-title.set-td Visions (VIS)
                td.set-queue.set-td 0/8
              tr#MIR.set-tr
                td.set-title.set-td Mirage (MIR)
                td.set-queue.set-td 0/8
              tr#CSP.set-tr
                td.set-title.set-td Coldsnap (CSP)
                td.set-queue.set-td 0/8
              tr#ALL.set-tr
                td.set-title.set-td Alliances (ALL)
                td.set-queue.set-td 0/8
              tr#ICE.set-tr
                td.set-title.set-td Ice Age (ICE)
                td.set-queue.set-td 0/8
              tr#4ED.set-tr
                td.set-title.set-td Fourth Edition (4ED)
                td.set-queue.set-td 0/8
              tr#HML.set-tr
                td.set-title.set-td Homelands (HML)
                td.set-queue.set-td 0/8
              tr#FEM.set-tr
                td.set-title.set-td Fallen Empires (FEM)
                td.set-queue.set-td 0/8
              tr#DRK.set-tr
                td.set-title.set-td The Dark (DRK)
                td.set-queue.set-td 0/8
              tr#LEG.set-tr
                td.set-title.set-td Legends (LEG)
                td.set-queue.set-td 0/8
              t#3ED.set-tr
                td.set-title.set-td Revised Edition (3ED)
                td.set-queue.set-td 0/8
              tr#ATQ.set-tr
                td.set-title.set-td Antiquities (ATQ)
                td.set-queue.set-td 0/8
              tr#ARN.set-tr
                td.set-title.set-td Arabian Nights (ARN)
                td.set-queue.set-td 0/8
              tr#2ED.set-tr
                td.set-title.set-td Unlimited (2ED)
                td.set-queue.set-td 0/8
              tr#LEB.set-tr
                td.set-title.set-td Limited Edition Beta (LEB)
                td.set-queue.set-td 0/8
              tr#LEA.set-tr
                td.set-title.set-td Limited Edition Alpha (LEA)
                td.set-queue.set-td 0/8
          #set-select.span12
            button#select-draft-button.btn.btn-small Draft
            button#select-sealed-button.btn.btn-small Sealed
  #nickname-lightbox.opacity60(style="display:none;")
    #nickname-lightbox-inner
      a#hide-lightbox-button
        i.icon-remove.icon-white.pull-right
      h2(style="padding-top:15px;") Please provide a nickname:
      input#nick-input
      br
      button#nick-submit-btn.btn.btn-success.btn-large(style="margin-top:15px;") Submit