<div id="foyer">
	<div id="foyer-content-container">
		<div id="foyer-banner-wrapper" style="height:auto;background-color:#202020;border-radius:5px;margin-left:auto;margin-right:auto;padding:5px;" class="raised">
			<div id="foyer-banner" class="well" style="height:100px;width:100%;margin-left:auto;margin-right:auto;background-color:#262626;background-image:url('/img/logo.png');background-repeat:repeat;background-size:60px 13px;"></div>
		</div>
    <div id="portal">
      <div id="left-pane-wrapper" class="pull-left">
        <div id="left-pane" class="raised pull-left">
          <div id="chat" class="pull-left">
            <div id="convo" class="well">
              <div id="convo-inner">
                <div class="chat-msg">
                  <span>Welcome to LimitedMTG.com!</span>
                </div>
              </div>
            </div>
            <div id="chat-input">
              <input id="chat-msg" class="pull-left" type="text"/>
              <button id="chat-send-btn" class="btn btn-small pull-left">Send</button>
            </div>
          </div>
		  		<div id="userlist" class="well pull-right">
					</div>
				</div>
	  	</div>
      <div id="right-pane" class="raised pull-right">
        <div id="sets" class="well">
          <table class="table">
            <tbody data-bind="foreach: setQueues">
              <tr>
                <td class="set-title set-td" data-bind="text: setName"/>
                <td class="set-queue set-td" data-bind="text: queueSize"/>
              </tr>
						</tbody>
          </table>
        </div>
        <div id="set-select">
          <button id="select-draft-button" class="btn btn-small">Draft</button>
          <button id="select-sealed-button" class="btn btn-small">Sealed</button>
        </div>
      </div>
    </div>
	  <div id="foyer-subcontent">
			<hr style="clear:both;width:100px;margin-left:auto;margin-right:auto;">
	  	<div id="share">
		  	<div id="share-msg" class="headline-txt">
					<span>Tired of waiting in queues?</span>
				</div>
	  		<div id="share-buttons">
	  			<span><img src="http://w.sharethis.com/images/facebook_32.png"/></span>
	  			<span><img src="http://w.sharethis.com/images/twitter_32.png"/></span>
	  			<span><img src="http://w.sharethis.com/images/googleplus_32.png"/></span>
	  			<span><img src="http://w.sharethis.com/images/tumblr_32.png"/></span>
	  			<span><img src="http://w.sharethis.com/images/reddit_32.png"/></span>
	  			<span><img src="http://w.sharethis.com/images/pinterest_32.png"/></span>
	  		</div>
				<div>
					<small>Share LimitedMTG.com with your fellow planeswalkers.</small>
				</div>
	  	</div>
	  	<hr style="clear:both;width:100px;margin-left:auto;margin-right:auto;">
			<div id="donate" style="clear:both">
				<span class="headline-txt">Headline</span>
				<br />
				<small style="margin-top:3px;">Donations help us keep up with hosting costs.</small>
				<br />
	  		<img src="http://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" style="margin-top:3px;"/>
	  	</div>
	  </div>
		<div style="clear:both;"></div>
	</div>
	<div id="foyer-footer" class="clearfix">
		<div id="foyer-footer-links" class="row-fluid">
			<span class="span3"><a href="#">About Us</a></span>
			<span class="span3"><a href="#">What's next?</a></span>
			<span class="span3"><a href="#">FAQ</a></span>
			<span class="span3"><a href="#">Link</a></span>
		</div>
		<div id="foyer-disclaimer">
			<small>Magic the Gathering is TM and copyright Wizards of the Coast, Inc, a subsidiary of Hasbro, Inc. All rights reserved. This site is unaffiliated. Articles and comments are user-submitted and do not represent official endorsements of this site.</small>
			<br />
			<small>&copy; 2013 LimitedMTG</small>
		</div>
	</div>
</div><!-- End #foyer -->