#foyer(style="display:none;")
  #chat.row
    #chat-shown.span12
      .row-fluid(style="text-align:center;")
        #left-pane
          #convo.span12
            #convo-inner
              .chat-msg 
                span Welcome to LimitedMTG.com!
          #chat-input.span12
            textarea#chat-msg.span9
            input#color-picker(type="color")
            button#chat-send-btn.btn.btn-small.btn-success Send
        #middle-pane
          #userlist.span12
        #right-pane
          #sets.span12
            table.table.table-bordered.table-striped
              tr#set-GTC
                td.set-title Gatecrash (GTC)
                td.set-queue 0/8
              tr#set-RTR
                td.set-title Return to Ravnica (RTR)
                td.set-queue 0/8
              tr#set-M13
                td.set-title Magic 2013 (M13)
                td.set-queue 0/8
              tr#set-AVR
                td.set-title Avacyn Restored (AVR)
                td.set-queue 0/8
              tr#set-DKA
                td.set-title Dark Ascension (DKA)
                td.set-queue 0/8
              tr#set-ISD
                td.set-title Innistrad (ISD)
                td.set-queue 0/8
              tr#set-M12
                td.set-title Magic 2012 (M12)
                td.set-queue 0/8
              tr#set-NPH
                td.set-title New Phyrexia (NPH)
                td.set-queue 0/8
              tr#set-MBS
                td.set-title Mirrodin Besieged (MBS)
                td.set-queue 0/8
              tr#set-SOM
                td.set-title Scars of Mirrodin (SOM)
                td.set-queue 0/8
              tr#set-M11
                td.set-title Magic 2011 (M11)
                td.set-queue 0/8
              tr#set-ROE
                td.set-title Rise of the Eldrazi (ROE)
                td.set-queue 0/8
              tr#set-WWK
                td.set-title Worldwake (WWK)
                td.set-queue 0/8
              tr#set-ZEN
                td.set-title Zendikar (ZEN)
                td.set-queue 0/8
              tr#set-M10
                td.set-title Magic 2010 (M10)
                td.set-queue 0/8
              tr#set-ARB
                td.set-title Alara Reborn (ARB)
                td.set-queue 0/8
              tr#set-CON
                td.set-title Conflux (CON)
                td.set-queue 0/8
              tr#set-ALA
                td.set-title Shards of Alara (ALA)
                td.set-queue 0/8
              tr#set-EVE
                td.set-title Eventide (EVE)
                td.set-queue 0/8
              tr#set-SHM
                td.set-title Shadowmoor (SHM)
                td.set-queue 0/8
              tr#set-MOR
                td.set-title Morningtide (MOR)
                td.set-queue 0/8
              tr#set-LRW
                td.set-title Lorwyn (LRW)
                td.set-queue 0/8
              tr#set-10E
                td.set-title Core Set: Tenth Edition (10E)
                td.set-queue 0/8
              tr#set-FUT
                td.set-title Future Sight (FUT)
                td.set-queue 0/8
              tr#set-PLC
                td.set-title Planar Chaos (PLC)
                td.set-queue 0/8
              tr#set-TSP
                td.set-title Time Spiral (TSP)
                td.set-queue 0/8
              tr#set-DIS
                td.set-title Dissension (DIS)
                td.set-queue 0/8
              tr#set-GPT
                td.set-title Guildpact (GPT)
                td.set-queue 0/8
              tr#set-RAV
                td.set-title Ravnica: City of Guilds (RAV)
                td.set-queue 0/8
              tr#set-9ED
                td.set-title Core Set: Ninth Edition (9ED)
                td.set-queue 0/8
              tr#set-SOK
                td.set-title Saviors of Kamigawa (SOK)
                td.set-queue 0/8
              tr#set-BOK
                td.set-title Betrayers of Kamigawa (BOK)
                td.set-queue 0/8
              tr#set-CHK
                td.set-title Champions of Kamigawa (CHK)
                td.set-queue 0/8
              tr#set-5DN
                td.set-title Fifth Dawn (5DN)
                td.set-queue 0/8
              tr#set-DST
                td.set-title Darksteel (DST)
                td.set-queue 0/8
              tr#set-MRD
                td.set-title Mirrodin (MRD)
                td.set-queue 0/8
              tr#set-8ED
                td.set-title Core Set: Eighth Edition (8ED)
                td.set-queue 0/8
              tr#set-SCG
                td.set-title Scourge (SCG)
                td.set-queue 0/8
              tr#set-LGN
                td.set-title Legions (LGN)
                td.set-queue 0/8
              tr#set-ONS
                td.set-title Onslaught (ONS)
                td.set-queue 0/8
              tr#set-JUD
                td.set-title Judgment (JUD)
                td.set-queue 0/8
              tr#set-TOR
                td.set-title Torment (TOR)
                td.set-queue 0/8
              tr#set-ODY
                td.set-title Odyssey (ODY)
                td.set-queue 0/8
              tr#set-7ED
                td.set-title Seventh Edition (7ED)
                td.set-queue 0/8
              tr#set-APC
                td.set-title Apocalypse (APC)
                td.set-queue 0/8
              tr#set-PLS
                td.set-title Planeshift (PLS)
                td.set-queue 0/8
              tr#set-INV
                td.set-title Invasion (INV)
                td.set-queue 0/8
              tr#set-PCY
                td.set-title Prophecy (PCY)
                td.set-queue 0/8
              tr#set-NMS
                td.set-title Nemesis (NMS)
                td.set-queue 0/8
              tr#set-MMQ
                td.set-title Mercadian Masques (MMQ)
                td.set-queue 0/8
              tr#set-6ED
                td.set-title Classic Sixth Edition (6ED)
                td.set-queue 0/8
              tr#set-UDS
                td.set-title Urza's Destiny (UDS)
                td.set-queue 0/8
              tr#set-ULG
                td.set-title Urza's Legacy (ULG)
                td.set-queue 0/8
              tr#set-USG
                td.set-title Urza's Saga (USG)
                td.set-queue 0/8
              tr#set-EXO
                td.set-title Exodus (EXO)
                td.set-queue 0/8
              tr#set-STH
                td.set-title Stronghold (STH)
                td.set-queue 0/8
              tr#set-TMP
                td.set-title Tempest (TMP)
                td.set-queue 0/8
              tr#set-5ED
                td.set-title Fifth Edition (5ED)
                td.set-queue 0/8
              tr#set-WTH
                td.set-title Weatherlight (WTH)
                td.set-queue 0/8
              tr#set-VIS
                td.set-title Visions (VIS)
                td.set-queue 0/8
              tr#set-MIR
                td.set-title Mirage (MIR)
                td.set-queue 0/8
              tr#set-CSP
                td.set-title Coldsnap (CSP)
                td.set-queue 0/8
              tr#set-ALL
                td.set-title Alliances (ALL)
                td.set-queue 0/8
              tr#set-ICE
                td.set-title Ice Age (ICE)
                td.set-queue 0/8
              tr#set-4ED
                td.set-title Fourth Edition (4ED)
                td.set-queue 0/8
              tr#set-HML
                td.set-title Homelands (HML)
                td.set-queue 0/8
              tr#set-FEM
                td.set-title Fallen Empires (FEM)
                td.set-queue 0/8
              tr#set-DRK
                td.set-title The Dark (DRK)
                td.set-queue 0/8
              tr#set-LEG
                td.set-title Legends (LEG)
                td.set-queue 0/8
              tr#set-3ED
                td.set-title Revised Edition (3ED)
                td.set-queue 0/8
              tr#set-ATQ
                td.set-title Antiquities (ATQ)
                td.set-queue 0/8
              tr#set-ARN
                td.set-title Arabian Nights (ARN)
                td.set-queue 0/8
              tr#set-2ED
                td.set-title Unlimited (2ED)
                td.set-queue 0/8
              tr#set-LEB
                td.set-title Limited Edition Beta (LEB)
                td.set-queue 0/8
              tr#set-LEA
                td.set-title Limited Edition Alpha (LEA)
                td.set-queue 0/8
          #set-select.span12
            button#select-draft-button.btn.btn-small.disabled Draft
            button#select-sealed-button.btn.btn-small.disabled Sealed
  #nickname-lightbox.opacity60(style="display:none;")
    #nickname-lightbox-inner
      a#hide-lightbox-button(onclick="Foyer.hideLightbox();")
        i.icon-remove.icon-white.pull-right
      h2(style="padding-top:15px;") Please provide a nickname:
      input#nick-input
      br
      button#nick-submit-btn.btn.btn-success.btn-large(style="margin-top:15px;", onclick="Foyer.hideLightbox();") Submit