<div id="foyer" onload="headerLayout()" style="display:;">
	<div id="foyer-content-container">
		
		<div id="foyer-banner-container">
			<div id="foyer-banner"></div><!--End #foyer-banner-->
		</div><!--End #foyer-banner-wrapper-->
		
		<!--<div id="foyer-links"/>--><!--End #foyer-links-->
		
    <div id="portal-container" class="clearfix">
      <div id="portal-left-pane" class="pull-left">
				<div id="main-animate-wrapper">
					
					<div id="main-slide-1" class="main-slide" data-bind="if: decksVisible">
						<div id="recent-decks">
							<div id="recent-decks-top" class="clearfix">
								<div id="recent-decks-title" class="pull-left">Recent Decks</div>
								<div id="recent-decks-filters" class="pull-right">
									<div class="btn-group" style="display:none;">
									  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
									    <span class="down-arrow">All Sets</span>
									  </a>
									  <ul class="dropdown-menu pull-right">
									    <li><a href="">GTC</a></li>
											<li><a href="">RTR</a></li>
									  </ul>
									</div>
									<div class="btn-group">
									  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
									    <span class="down-arrow">All Formats</span>
									  </a>
									  <ul class="dropdown-menu pull-right">
									    <li><a href="">Standard</a></li>
											<li><a href="">Modern</a></li>
											<li><a href="">Commander</a></li>
											<li><a href="">Pauper</a></li>
											<li><a href="">Draft</a></li>
											<li><a href="">Sealed</a></li>
									  </ul>
									</div>
								</div>
							</div>	
							
							<div id="recent-decks-content" class="clearfix">
								<div id="recent-decks-list">
									<div class="deck-preview clearfix">
										<div class="deck-preview-left pull-left clearfix">
											<div class="deck-preview-img pull-left"><img src="../static/img/neutral-density.png"/></div>
										</div>
										<div class="recent-deck-right pull-right clearfix">
											<div class="deck-preview-info pull-left clearfix">
												<div class="deck-preview-info-left pull-left">
													<div class="deck-preview-title">Boros Aggro</div>
													<div id="recent-decks-mana">
														<span id="deck-preview-white" class="deck-preview-color"/>
														<span id="deck-preview-blue" class="deck-preview-color"/>
														<span id="deck-preview-black" class="deck-preview-color"/>
														<span id="deck-preview-red" class="deck-preview-color"/>
														<span id="deck-preview-green" class="deck-preview-color"/>
													</div>
												</div>
												<div class="deck-preview-info-right pull-right">
													<div class="deck-preview-format">GTC Sealed</div>
													<div class="deck-preview-author" style="color:#0088cc;"><i class="icon-user" style="margin-right:3px;"></i>A_User_Name</div>
												</div>
											</div>
											<div class="deck-preview-btns pull-right">
												<div>
													<button id="deck-preview-view-btn" class="btn btn-primary"><i class="icon-white icon-eye-open"></i></button>
												</div>
												<div>
													<button class="btn btn-primary"><i class="icon-white icon-edit"></i></button>
												</div>
												<div>
													<button id="deck-preview-info-btn" class="btn btn-primary"><i class="icon-white icon-info-sign"></i></button>
												</div>
											</div>
										</div>
									</div>
									
									
									
									<div class="deck-preview clearfix">
										<div class="deck-preview-left pull-left clearfix">
											<div class="deck-preview-img pull-left"><img src="../static/img/neutral-density.png"/></div>
										</div>
										<div class="recent-deck-right pull-right clearfix">
											<div class="deck-preview-info pull-left clearfix">
												<div class="deck-preview-info-left pull-left">
													<div class="deck-preview-title">Boros Aggro</div>
													<div id="recent-decks-mana">
														<span id="deck-preview-white" class="deck-preview-color"/>
														<span id="deck-preview-blue" class="deck-preview-color"/>
														<span id="deck-preview-black" class="deck-preview-color"/>
														<span id="deck-preview-red" class="deck-preview-color"/>
														<span id="deck-preview-green" class="deck-preview-color"/>
													</div>
												</div>
												<div class="deck-preview-info-right pull-right">
													<div class="deck-preview-format">GTC Sealed</div>
													<div class="deck-preview-author" style="color:#0088cc;"><i class="icon-user" style="margin-right:3px;"></i>A_User_Name</div>
												</div>
											</div>
											<div class="deck-preview-btns pull-right">
												<div>
													<button id="deck-preview-view-btn" class="btn btn-primary"><i class="icon-white icon-eye-open"></i></button>
												</div>
												<div>
													<button class="btn btn-primary"><i class="icon-white icon-edit"></i></button>
												</div>
												<div>
													<button id="deck-preview-info-btn" class="btn btn-primary"><i class="icon-white icon-info-sign"></i></button>
												</div>
											</div>
										</div>
									</div>
									<div class="deck-preview clearfix">
										<div class="deck-preview-left pull-left clearfix">
											<div class="deck-preview-img pull-left"><img src="../static/img/neutral-density.png"/></div>
										</div>
										<div class="recent-deck-right pull-right clearfix">
											<div class="deck-preview-info pull-left clearfix">
												<div class="deck-preview-info-left pull-left">
													<div class="deck-preview-title">Boros Aggro</div>
													<div id="recent-decks-mana">
														<span id="deck-preview-white" class="deck-preview-color"/>
														<span id="deck-preview-blue" class="deck-preview-color"/>
														<span id="deck-preview-black" class="deck-preview-color"/>
														<span id="deck-preview-red" class="deck-preview-color"/>
														<span id="deck-preview-green" class="deck-preview-color"/>
													</div>
												</div>
												<div class="deck-preview-info-right pull-right">
													<div class="deck-preview-format">GTC Sealed</div>
													<div class="deck-preview-author" style="color:#0088cc;"><i class="icon-user" style="margin-right:3px;"></i>A_User_Name</div>
												</div>
											</div>
											<div class="deck-preview-btns pull-right">
												<div>
													<button id="deck-preview-view-btn" class="btn btn-primary"><i class="icon-white icon-eye-open"></i></button>
												</div>
												<div>
													<button class="btn btn-primary"><i class="icon-white icon-edit"></i></button>
												</div>
												<div>
													<button id="deck-preview-info-btn" class="btn btn-primary"><i class="icon-white icon-info-sign"></i></button>
												</div>
											</div>
										</div>
									</div>
									<div class="deck-preview clearfix">
										<div class="deck-preview-left pull-left clearfix">
											<div class="deck-preview-img pull-left"><img src="../static/img/neutral-density.png"/></div>
										</div>
										<div class="recent-deck-right pull-right clearfix">
											<div class="deck-preview-info pull-left clearfix">
												<div class="deck-preview-info-left pull-left">
													<div class="deck-preview-title">Boros Aggro</div>
													<div id="recent-decks-mana">
														<span id="deck-preview-white" class="deck-preview-color"/>
														<span id="deck-preview-blue" class="deck-preview-color"/>
														<span id="deck-preview-black" class="deck-preview-color"/>
														<span id="deck-preview-red" class="deck-preview-color"/>
														<span id="deck-preview-green" class="deck-preview-color"/>
													</div>
												</div>
												<div class="deck-preview-info-right pull-right">
													<div class="deck-preview-format">GTC Sealed</div>
													<div class="deck-preview-author" style="color:#0088cc;"><i class="icon-user" style="margin-right:3px;"></i>A_User_Name</div>
												</div>
											</div>
											<div class="deck-preview-btns pull-right">
												<div>
													<button id="deck-preview-view-btn" class="btn btn-primary"><i class="icon-white icon-eye-open"></i></button>
												</div>
												<div>
													<button class="btn btn-primary"><i class="icon-white icon-edit"></i></button>
												</div>
												<div>
													<button id="deck-preview-info-btn" class="btn btn-primary"><i class="icon-white icon-info-sign"></i></button>
												</div>
											</div>
										</div>
									</div>
									
									
									
									
									<div id="recent-decks-load-more">
										<button class="btn btn-large">Load More</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div id="main-slide-2" class="main-slide" data-bind="if: newEventVisible">
		        <div id="sets" style="display:none;">
		          <!--<table class="table">
		            <tbody data-bind="foreach: setQueues">
		              <tr data-bind="click: selectSet">
		                <td class="set-title set-td" data-bind="text: title"/>
		                <td class="set-queue set-td" data-bind="text: size"/>
		              </tr>
								</tbody>
		          </table>-->
		        </div><!--End #sets-->
		          <button id="select-sealed-button" class="btn btn-large" style="margin-top:200px;" data-bind="click: startSealed">Start GTC Sealed</button>
					</div><!--End #main-slide-2-->
					
					<div id="main-slide-3" class="main-slide" data-bind="if: joinDraftVisible">Join an open draft queue.
					</div><!--End #main-slide-3-->
					
					<div id="main-slide-4" class="main-slide" data-bind="if: aboutVisible">About Us, About LimitedMTG.com, Mission Statement.
					</div><!--End #main-slide-4-->
					
					<div id="main-slide-5" class="main-slide" data-bind="if: profileVisible">
						<div id="profile-container">
							<div id="profile-inner">
								<div id="profile-top-row" class="clearfix">
									<div id="profile-username" class="pull-left" data-bind="text: profileUsername">A_User_Name</div>
									<div id="profile-nav" class="pull-right clearfix row-fluid">
										<ul class="nav nav-pills pull-right" style="display:none;">
											<li class="active profile-link"><a href="#">Decks</a></li>
										</ul>
										<div id="deck-view-nav" style="display:none;">
											<div class="btn-group pull-right">
											  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
											    <span class="down-arrow">Type</span>
											  </a>
											  <ul class="dropdown-menu pull-right">
											    <li><a href="#">Type</a></li>
													<li><a href="#">Color</a></li>
													<li><a href="#">Rarity</a></li>
													<li><a href="#">Cost</a></li>
											  </ul>
											</div>
										</div>
									</div>
								</div>
								<div id="profile-bottom-row">
									<div id="profile-left-col" class="pull-left">
										<div id="profile-info" class="clearfix">
											<div id="profile-image" data-bind="attr: { src : profileThumbSrc }">
												<img src="../static/img/neutral-density.png"/>
											</div>
											<div class="clearfix">
												<div class="pull-left">
													<div>Full Name:</div>
												</div>
												<div class="pull-right">
													<div data-bind="text: profileFullName">Jonathan Doe</div>
												</div>
											</div>
											<div class="clearfix">
												<div class="pull-left">
													<div>Location:</div>
												</div>
												<div class="pull-right">
													<div data-bind="text: profileLocation">Pittsburgh, PA</div>
												</div>
											</div>
											<div class="clearfix">
												<div class="pull-left">
													<div>Date Joined:</div>
												</div>
												<div class="pull-right">
													<div data-bind="text: profileDateJoined">03/01/13</div>
												</div>
											</div>
											<div id="profile-description" data-bind="text: profileDescription">This is a description. Lorem ipsum, etc., awiodbawjklbflkawnfl. asdfghjkl;asdfghjkl; asdfghjkl;</div>
										</div>
									</div>
									<div id="profile-right-col" class="pull-right">
										<div id="profile-content-wrapper">
											<div id="profile-content">
                        <!-- Start profile with Decklist -->
												<div id="profile-deck-previews" data-bind="if: profileDecksVisible">
													<!-- Deck preview -->
													<div class="deck-preview clearfix">
														<div class="deck-preview-left pull-left clearfix">
															<div class="deck-preview-img pull-left">
																<img src="../static/img/neutral-density.png"/>
															</div>
															<div class="deck-preview-mana pull-right">
																<div id="deck-preview-white" class="deck-preview-color"/>
																<div id="deck-preview-blue" class="deck-preview-color"/>
																<div id="deck-preview-black" class="deck-preview-color"/>
																<div id="deck-preview-red" class="deck-preview-color"/>
																<div id="deck-preview-green" class="deck-preview-color"/>
															</div>
														</div>
														<div class="deck-preview-right pull-right clearfix">
															<div class="deck-preview-info pull-left">
																<div class="deck-preview-title">Boros Aggro</div>
																<div class="deck-preview-format">GTC Sealed</div>
															</div>
															<div class="deck-preview-btns pull-right">
																<div>
																	<button id="deck-preview-view-btn" class="btn btn-primary"><i class="icon-white icon-eye-open"></i></button>
																</div>
																<div>
																	<button class="btn btn-primary"><i class="icon-white icon-edit"></i></button>
																</div>
																<div>
																	<button id="deck-preview-info-btn" class="btn btn-primary"><i class="icon-white icon-info-sign"></i></button>
																</div>
															</div>
														</div>
													</div><!-- End deck preview -->
												</div><!-- End profile with Decklist -->
												<div id="deck-view" style="clearfix" data-bind="if: profileDeckListVisible">
													<div id="deck-view-title" class="clearfix">
														<div id="deck-view-thumbnail" class="pull-left"/>
														<div id="deck-view-title-right" class="pull-right">
															<span style="text-align:right;" class="pull-right">Naya Humans Beatdown</span><br/>
															<div id="deck-view-mana" class="clearfix">
																<span id="deck-preview-white" class="deck-preview-color"></span>
																<span id="deck-preview-blue" class="deck-preview-color"></span>
																<span id="deck-preview-black" class="deck-preview-color"></span>
																<span id="deck-preview-red" class="deck-preview-color"></span>
																<span id="deck-preview-green" class="deck-preview-color"></span>
															</div>
														</div>
													</div>
													<hr style="margin-top:7px;margin-bottom:15px;"/>
													<div class="clearfix">
														<div class="deck-view-left pull-left">
															<div class="deck-view-section">
																<h1>Land (<span>23</span>)</h1>
																<p>4x <a href="#">Clifftop Retreat</a></p>
																<p>4x <a href="#">Rootbound Crag</a></p>
																<p>4x <a href="#">Sacred Foundry</a></p>
																<p>3x <a href="#">Stomping Ground</a></p>
																<p>4x <a href="#">Sunpetal Grove</a></p>
																<p>4x <a href="#">Temple Grove</a></p>
															</div>
															<div class="deck-view-section">
																<h1>Creature (<span>25</span>)</h1>
																<p>1x <a href="#">Aurelia, the Warleader</a></p>
																<p>4x <a href="#">Avacyn's Pilgrim</a></p>
																<p>4x <a href="#">Boros Reckoner</a></p>
																<p>2x <a href="#">Ghor-Clan Rampager</a></p>
																<p>4x <a href="#">Hellrider</a></p>
																<p>4x <a href="#">Silverblade Paladin</a></p>
																<p>4x <a href="#">Thragtusk</a></p>
																<p>2x <a href="#">Thundermaw Hellkite</a></p>
															</div>
														</div>
														<div class="deck-view-right pull-right">	
															<div class="deck-view-section">
																<h1>Sorcery (<span>5</span>)</h1>
																<p>2x <a href="#">Bonfire of the Damned</a></p>
																<p>3x <a href="#">Farseek</a></p>
															</div>
															<div class="deck-view-section">
																<h1>Instant (<span>4</span>)</h1>
																<p>2x <a href="#">Boros Charm</a></p>
																<p>2x <a href="#">Selesya Charm</a></p>
															</div>
															<div class="deck-view-section">
																<h1>Planeswalker (<span>3</span>)</h1>
																<p>2x <a href="#">Domri Rade</a></p>
																<p>1x <a href="#">Gideon, Champion of Justice</a></p>
															</div>
														</div>
													</div>
													<hr style="margin-top:0px;margin-bottom:18px;"/>
													<div id="deck-view-description" class="deck-view-section">
														<h1>Description</h1> 
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
													</div>
													<hr style="margin-top:2px;margin-bottom:18px;"/>
													<div id="share-deck-wrapper">
														<div class="deck-view-section"><h1 style="text-align:center;">Share this deck</h1></div>
											  		<input type="text" readonly/>
													</div>
												</div>
												<div id="profile-buddy-list" style="display:none;">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!--End #main-slide-5-->
				</div><!--End #main-animate-wrapper-->
      </div><!--End #left-pane-->
      <div id="portal-right-pane" class="pull-left clearfix">
        <div id="chat" class="pull-right" style="display:block;">
          <div id="chat-convo-wrapper">
            <div id="chat-convo">
              <div class="chat-msg">
                <div style="margin-top:10px;">Welcome to LimitedMTG.com!</div>
              </div>
            </div><!--End #chat-convo-->
          </div><!--End #chat-convo-wrapper-->
        </div><!--End #chat-->
	  		<div id="userlist" class="pull-right" style="display:none;">
					<div style="padding:10px 0px;width:70%;margin-left:auto;margin-right:auto;">
						<div id="chat-user-total" class="pull-left" style="display:none;">
							<span>Users&nbsp;(&nbsp;</span><span>3</span><span>&nbsp;)</span>
						</div>
						<div class="chat-username row-fluid"><div class="span12"><span class="chat-user">Username</span><span class="chat-status">GTC Sealed</span></div></div>
						<div class="chat-username row-fluid"><div class="span12"><span class="chat-user">Username324</span><span class="chat-status">GTC Sealed</span></div></div>
						<div class="chat-username row-fluid"><div class="span12"><span class="chat-user">Usee</span><span class="chat-status">GTC Sealed</span></div></div>
					</div>
				</div>
        <div id="chat-input" class="clearfix">
        	<input id="chat-msg" class="pull-left" type="text"/>
          <button id="chat-send-btn" class="btn btn-small pull-left appended" data-bind="event: { click: ChatController.sendChatMsg }">Send</button>
					<button id="userlist-toggle-btn" class="btn btn-small pull-right" style="margin-left:5px;" onclick="showChatUserlist();"><i class="icon-user"></i></button>
        </div><!--End #chat-input-->
		  </div><!--End #portal-right-pane-->
    </div><!--End #portal-container-->
		
	  <div id="foyer-subcontent">
	  	<div id="share">
		  	<div id="share-msg" class="headline-txt">
					<span>Tired of waiting in draft queues?</span>
				</div><!--End #share-msg-->
	  		<div id="share-buttons">
	  			<span><img src="http://w.sharethis.com/images/facebook_32.png"/></span>
	  			<span><img src="http://w.sharethis.com/images/twitter_32.png"/></span>
	  			<span><img src="http://w.sharethis.com/images/googleplus_32.png"/></span>
	  			<span><img src="http://w.sharethis.com/images/tumblr_32.png"/></span>
	  			<span><img src="http://w.sharethis.com/images/reddit_32.png"/></span>
	  			<span><img src="http://w.sharethis.com/images/pinterest_32.png"/></span>
	  		</div><!--End #share-buttons-->
				<div id="share-caption">
					<small>Share LimitedMTG.com with your fellow planeswalkers.</small>
				</div><!--End #share-caption-->
	  	</div><!--End #share-->
	  	<hr class="horizontal-rule"/>
			<div id="donate">
				<div id="donate-quote">
					<span>"Those who don't believe in magic will never find it."</span>
					<small>Roald Dahl</small>
			  </div><!--End #donate-quote-->
				<div id="donate-closer">
					<span class="headline-txt">Those who do,</span>
					<img src="http://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"/>
				</div><!--End #donate-closer-->
			</div><!--End #donate-->
	  </div><!--End #foyer-subcontent-->
	</div><!--End #foyer-content-container-->
	<div id="foyer-footer" class="clearfix">
		<div id="foyer-disclaimer">
			<small>Magic the Gathering is TM and copyright Wizards of the Coast, Inc, a subsidiary of Hasbro, Inc. All rights reserved. This site is unaffiliated. Articles and comments are user-submitted and do not represent official endorsements of this site.</small>
			<small>&copy; 2013 LimitedMTG</small>
		</div><!--End #foyer-disclaimer-->
	</div><!--End #foyer-footer-->
	<div id="card-preview-container" style="display:none;height:100px;width:100px;background-color:#000;position:absolute;z-index:18098908;top:100px;left:100px;opacity: 0; filter: alpha(opacity=0);"></div>
</div><!--End #foyer-->