#header
  #open.row-fluid.no-height.foyer-header(style="display:block;")
    .span10
      a#logo.pull-left(href="#")
        img(src="/img/logo.png")
      ul.nav.nav-pills
        li#tab1.active.well
          a.tab(href="#") Active
        li#tab2
          a.tab(href="#", onclick="tabtest();") Tab