#header.foyer-header
  #header-container
    a#logo.pull-left
      img(src="/static/img/logo.png")
    #header-links.clearfix
      span.header-link-spacer
      a.header-link.pull-left(href="/decks") Decks
      span.header-link-spacer
      a.header-link.pull-left(onclick="var redirect = '/sealed?set=GTC';window.location.href = redirect;") Sealed
      span.header-link-spacer
      a.header-link.pull-left(href="/builder") Builder
      span.header-link-spacer
      #header-profile-btn.pull-right.btn-group
        a.btn.btn-link.dropdown-toggle(data-toggle="dropdown",href="#")
        ul.dropdown-menu
          li
            <a href="#">View Profile</a>
          li
            <a href="#">Profile Settings</a>
          li
            <a href="#">Sign Out</a>