#header.foyer-header
  #header-container
    #header-links.clearfix
      span.header-link-spacer
      a.header-link.pull-left(href="/decks") Decks
      span.header-link-spacer
      a.header-link.pull-left(href="/builder") Builder
      span.header-link-spacer
      a.header-link.pull-left(href="/newevent") Sealed
      span.header-link-spacer
      #header-profile-btn.pull-right.btn-group.header-link
        a.btn.btn-link.dropdown-toggle(data-toggle="dropdown",href="#")
        ul.dropdown-menu
          li
            <a href="#">View Profile</a>
          li
            <a href="#" onclick="LightboxController.closeLightbox(); LightboxController.showLightbox( 'ProfileSettings' );">Profile Settings</a>
          li
            <a href="/logout">Sign Out</a>