#header
  #open.row-fluid.no-height(style="display:block;")
    .span10
      a(href="#")
        img(src="/img/logo.png", style="height:30px;margin-top:-5px;")
    #collapse.span2
      button#collapse-button.btn.btn-small.btn-inverse(onclick="collapse();")
        i.icon-chevron-up.icon-white
  #closed.row-fluid.no-height(style="display:none;")
    .span10
    #expand.span2
      button#expand-button.btn.btn-small.btn-inverse(onclick="expand();")
        i.icon-chevron-down.icon-white