#header.foyer-header
  #header-container
    a#logo.pull-left
      img(src="/img/logo.png")
    #header-links
      span.header-link-spacer
      a#header-link-1.header-link(href="/decks") Decks
      span.header-link-spacer
      a#header-link-2.header-link(href="/newevent") Sealed
      span.header-link-spacer
      a#header-link-3.header-link(href="/draft") Draft
      span.header-link-spacer
      a#header-link-4.header-link.down-arrow(href="/about") About
      span.header-link-spacer
      a#header-link-5.header-link Profile