#header
  .navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container
        a.brand(href="#") Cloud Magic
        ul.nav
          li
            a(href="#") Link 1
          li
            a(href="#") Link 2
          li
            a(href="#") Link 3