#header.foyer-header
  #header-container
    a#logo.pull-left
      img(src="/img/logo.png")
    #header-links
      span.header-link-spacer
      a#header-link-1.header-link New Event
      span.header-link-spacer
      a#header-link-2.header-link Join Draft
      span.header-link-spacer
      a#header-link-3.header-link.down-arrow About
      span.header-link-spacer
      a#header-link-4.header-link Profile