#header.foyer-header(style="display:none;width:100%;")
  #open
    a#logo.pull-left(href="#")
      img(src="/img/logo.png")
    #header-links
      span.header-link-spacer
      span.header-link
        a#header-link-1 New Event
      span.header-link-spacer
      span.header-link
        a#header-link-2 Join Draft
      span.header-link-spacer
      span.header-link
        a#header-link-3.down-arrow About
      span.header-link-spacer
      span.header-link
        a#header-link-4 FAQ