!!! 5
html(lang='en')
  head
    <title id="title">Card Champion</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="/static/css/darkstrap-v0.9.0.css" rel="stylesheet"></link>
    <link href="/css/champion.css" rel="stylesheet"></link>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Viga|Courgette|Orbitron:400,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Viga|Courgette|Orbitron:200,300,400,500' rel='stylesheet' type='text/css'>
    script(src="/static/js/jquery-1.8.0.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/static/js/knockout.js")
    script(src="/static/js/koExternalTemplateEngine_all.min.js")
    script(src="/static/js/bootstrap.js")
    script(src="/static/js/spin.min.js")
    script(src="/static/js/modernizr.custom.56114.js")
    script(src="/viewcontrollers/BuilderViewController.js")
    script(src="/viewcontrollers/HeaderViewController.js")
    script(src="/viewcontrollers/PoolViewController.js")
    script(src="/viewcontrollers/CardViewController.js")
    script(src="/viewcontrollers/CardSizeViewController.js")
    script(src="/viewcontrollers/FoyerViewController.js")
    script(src="/viewcontrollers/ThumbnailViewController.js")
    script(src="/viewcontrollers/VerticalOffsetViewController.js")
    script(src="/viewcontrollers/LimitedViewController.js")
    script(src="/viewcontrollers/ResizeViewController.js")
    script(src="/models/Land.js")
    script(src="/utils/CardSort.js")
    script(src="/utils/MultiverseToNameSetMapNew.js")
    script(src="/utils/MultiverseToNameSetMapOld.js")
    script(src="/viewmodels/CardViewModel.js")
    script(src="/viewmodels/ColumnViewModel.js")
    script(src="/viewmodels/CardPoolViewModel.js")
    script(src="/viewmodels/SealedViewModel.js")
    script(src="/viewmodels/FoyerViewModel.js")
    script(src="/viewmodels/FoyerCardViewModel.js")
    script(src="/viewmodels/SplashViewModel.js")
    script(src="/viewmodels/BuilderViewModel.js")
    script(src="/viewmodels/ProfileViewModel.js")
    script(src="/viewmodels/ProfileGeneralViewModel.js")
    script(src="/viewmodels/ProfileDeckViewModel.js")
    script(src="/viewmodels/ProfileDeckPreViewModel.js")
    script(src="/viewmodels/ProfileDeckListViewModel.js")
    script(src="/viewmodels/ProfileDeckViewModel.js")
    script(src="/viewmodels/ProfileDeckViewCardTypeGroupViewModel.js")
    script(src="/viewmodels/ProfileDeckItemViewModel.js")
    script(src="/viewmodels/RecentDecksViewModel.js")
    script(src="/viewmodels/RecentDeckPreViewModel.js")
    script(src="/viewmodels/NewSealedViewModel.js")
    script(src="/controllers/LayoutController.js")
    script(src="/controllers/CompatibilityController.js")
    script(src="/controllers/BackgroundController.js")
    script(src="/controllers/SocketController.js")
    script(src="/controllers/TypeaheadController.js")
    script(src="/controllers/LoginController.js")
    script(src="/controllers/RegisterController.js")
    script(src="/controllers/ProfileSettingsController.js")
    script(src="/controllers/LandController.js")
    script(src="/controllers/MouseController.js")
    script(src="/controllers/AddLandController.js")
    script(src="/controllers/PoolSortController.js")
    script(src="/controllers/PoolClearController.js")
    script(src="/controllers/SaveDeckController.js")
    script(src="/controllers/DeckStatCounterController.js")
    script(src="/controllers/ChatController.js")
    script(src="/controllers/LightboxController.js")
    script(src="/controllers/LoadingWheelController.js")
    script(src="/controllers/BannerController.js")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  body
    <div id="background-wrap"></div>
    include header
    <div id="content">
    include lightbox.html
    <div id="loading"></div>
    <div id="template-plugin" data-bind="plugin: $root.plugin" style="display:hidden;"></div>
    </div>
    script(src="/controllers/TemplatePluginController.js")
    script(type="text/javascript")
      initLayout( !{templateName}, !{options} );