!!! 5
html(lang='en')
  head
    <title id="title">LimitedMTG</title>
    <link href="../css/bootstrap.css" rel="stylesheet"></link>
    <!--<link href="../css/darkstrap-v0.9.0.css" rel="stylesheet"></link>-->
    <link href="../css/cloudmagic.css" rel="stylesheet"></link>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Viga|Courgette|Orbitron:400,500' rel='stylesheet' type='text/css'>
    script(src="../js/jquery-1.8.0.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="../js/knockout.js")
    script(src="../js/koExternalTemplateEngine_all.min.js")
    script(src="../sets/gtc.js")
    script(src="../sets/2ED.js")
    script(src="../sets/3ED.js")
    script(src="../sets/4ED.js")
    script(src="../sets/5DN.js")
    script(src="../sets/5ED.js")
    script(src="../sets/6ED.js")
    script(src="../sets/7ED.js")
    script(src="../sets/8ED.js")
    script(src="../sets/9ED.js")
    script(src="../sets/10E.js")
    script(src="../sets/ALA.js")
    script(src="../sets/ALL.js")
    script(src="../sets/APC.js")
    script(src="../sets/ARB.js")
    script(src="../sets/ARN.js")
    script(src="../sets/ATQ.js")
    script(src="../sets/AVR.js")
    script(src="../sets/BOK.js")
    script(src="../sets/CHK.js")
    script(src="../sets/CON.js")
    script(src="../sets/CSP.js")
    script(src="../sets/DIS.js")
    script(src="../sets/DKA.js")
    script(src="../sets/DRK.js")
    script(src="../sets/DST.js")
    script(src="../sets/EVE.js")
    script(src="../sets/EXO.js")
    script(src="../sets/FEM.js")
    script(src="../sets/FUT.js")
    script(src="../sets/GPT.js")
    script(src="../sets/HML.js")
    script(src="../sets/ICE.js")
    script(src="../sets/INV.js")
    script(src="../sets/ISD.js")
    script(src="../sets/JUD.js")
    script(src="../sets/LEA.js")
    script(src="../sets/LEB.js")
    script(src="../sets/LEG.js")
    script(src="../sets/LGN.js")
    script(src="../sets/LRW.js")
    script(src="../sets/M10.js")
    script(src="../sets/M11.js")
    script(src="../sets/M12.js")
    script(src="../sets/M13.js")
    script(src="../sets/MBS.js")
    script(src="../sets/MIR.js")
    script(src="../sets/MMQ.js")
    script(src="../sets/MOR.js")
    script(src="../sets/MRD.js")
    script(src="../sets/NMS.js")
    script(src="../sets/NPH.js")
    script(src="../sets/ODY.js")
    script(src="../sets/ONS.js")
    script(src="../sets/PCY.js")
    script(src="../sets/PLS.js")
    script(src="../sets/RAV.js")
    script(src="../sets/ROE.js")
    script(src="../sets/RTR.js")
    script(src="../sets/SCG.js")
    script(src="../sets/SHM.js")
    script(src="../sets/SOK.js")
    script(src="../sets/SOM.js")
    script(src="../sets/STH.js")
    script(src="../sets/TMP.js")
    script(src="../sets/TOR.js")
    script(src="../sets/TSP.js")
    script(src="../sets/UDS.js")
    script(src="../sets/ULG.js")
    script(src="../sets/USG.js")
    script(src="../sets/VIS.js")
    script(src="../sets/WTH.js")
    script(src="../sets/WWK.js")
    script(src="../sets/ZEN.js")
    script(src="../js/bootstrap.min.js")
    script(src="../js/bootstrap-dropdown.js")
    script(src="../js/bootstrap-collapse.js")
    script(src="../controllers/header_ui.js")
    script(src="../controllers/splash_ui.js")
    script(src="../controllers/foyer_ui.js")
    script(src="../controllers/limited_ui.js")
    script(src="../js/jquery.mousewheel.js")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    script(src="../controllers/TemplatePluginController.js")
  body
    include header
    <div id="content">
    <div data-bind="plugin: plugin"></div>
    </div>
    script(src="../models/Land.js")
    script(src="../viewmodels/CardViewModel.js")
    script(src="../viewmodels/CardSort.js")
    script(src="../viewmodels/BoosterPack.js")
    script(src="../viewmodels/ColumnViewModel.js")
    script(src="../viewmodels/CardPoolViewModel.js")
    script(src="../viewmodels/SealedViewModel.js")
    script(src="../viewmodels/FoyerViewModel.js")
    script(src="../viewmodels/SplashViewModel.js")
    script(src="../controllers/LayoutController.js")
    script(src="../controllers/SocketController.js")
    script(src="../controllers/LoginController.js")
    script(src="../controllers/RegisterController.js")
    script(src="../controllers/SetController.js")
    script(src="../controllers/LightboxController.js")
    script(type="text/javascript")
      initLayout( !{templateName}, !{options} );