<div id="limited">
	
  <div id="top-screen" class="clearfix">
    <div id="preview-wrapper" class="well pull-left">
      <div id="img-preview" data-bind="style: { backgroundImage: 'url(' + imgSrc() + ')' }"/>
    </div>
    <div id="card-pool" class="well pull-left">
      <div id="card-pool-scroll" class="clearfix">
        <div id="card-pool-inner" class="pull-left clearfix">
         <div data-bind="foreach: sideboard">
           <div data-bind="foreach: columns">
             <div class="column" data-bind="foreach: cards, event: { mouseover: mouseOver }">
               <div class="card" data-bind="style: { backgroundImage: 'url(' + imgSrc() + ')' }, event: { mousedown: function(data,event){ mouseDownHandler('sideboard', event); }, mouseup: mouseUpHandler, mouseover: function(){ cardZoom($root); }, click: cardHighlight, dblclick: function(){ cardSelect('sideboard'); } }"/>
             </div>
           </div>
         </div>
       </div>
      </div>
    </div>
  </div><!-- End #top-screen -->
	
  <div id="control-bar-container">
		<div id="limited-control-bar" class="clearfix" style="width:100%;">
			
	    <div id="limited-control-bar-left" class="pull-left">
				<div id="mainboard-breakdown">
		      <span id="mainboard-total" data-bind="text: mainboardSize"></span>
		      <span>/40</span>
		      <span style="margin-left:17px;">Creatures:</span>
		      <span id="mainboard-creatures" data-bind="text: numMainboardCreatures"></span>
		      <span style="margin-left:17px;">Lands:</span>
		      <span id="mainboard-lands" data-bind="text: numMainboardLands"></span>
		    </div><!-- End #mainboard-breakdown -->
			</div>
			
			<div id="limited-control-bar-right" class="pull-right clearfix">
		
				<div id="offset-y-container" class="pull-left">
					<div id="drag-offset-y" style="margin-left:auto;margin-right:auto;">
						<i class="icon-align-justify icon-white"></i>
					</div>
				</div>
		
				<div id="control-bar-buttons" class="btn-toolbar pull-right">
					<div id="sort-btn" class="btn-group pull-left">
						<button class="btn btn-group pull-left">
	            <a class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
								Sort
	            </a>
	            <ul class="dropdown-menu">
	              <li>
	                <a tabindex="-1" data-bind="event: { click: function(){ sortPool('sideboard'); } }">Sideboard</a>
	              </li>
	              <li>
	                <a tabindex="-1" data-bind="event: { click: function(){ sortPool('mainboard'); } }">Mainboard</a>
	              </li>
						                
	            </ul>
	        	</button>
		        <button class="btn btn-group pull-left">
	            <a id="aSortDisplay" class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
								by cost
	            </a>
	            <ul class="dropdown-menu">
						    <li><a data-bind="event: { click: function(){ selectSortOption('cmc'); } }">by cost</a></li>
								<li><a data-bind="event: { click: function(){ selectSortOption('color'); } }">by color</a></li>
                <li><a data-bind="event: { click: function(){ selectSortOption('rarity'); } }">by rarity</a></li>
								<li><a>by type</a></li>
	            </ul>
		        </button>
					</div>
					
					<div id="add-land-btn" class="btn-group pull-left">
		        <button class="btn btn-mini btn-success dropdown-toggle" data-toggle="dropdown">Add Land</button>
			        <ul id="add-land-dropdown" class="dropdown-menu" style="top:18px;left:-35px;width:136px;min-width:136px;">
			          <li id="white-mana">
			            <i class="icon-plus-sign pull-left" style="position:relative;top:2px;left:25px;" data-bind="event: { click: function(){ incrLandCount('W'); } }"/>
			            <img src="/img/white-mana.jpg">
			            <span data-bind="text: whiteLandCount">0</span>
			            <i class="icon-minus-sign pull-right" style="position:relative;top:2px;right:25px;" data-bind="event: { click: function(){ decrLandCount('W'); } }"/>
			          </li>
			          <li id="blue-mana">
			            <i class="icon-plus-sign pull-left" style="position:relative;top:2px;left:25px;" data-bind="event: { click: function(){ incrLandCount('U'); } }"/>
			            <img src="/img/blue-mana.jpg">
			            <span data-bind="text: blueLandCount">0</span>
			            <i class="icon-minus-sign pull-right" style="position:relative;top:2px;right:25px;" data-bind="event: { click: function(){ decrLandCount('U'); } }"/>
			          </li>
			          <li id="black-mana">
			            <i class="icon-plus-sign pull-left" style="position:relative;top:2px;left:25px;" data-bind="event: { click: function(){ incrLandCount('B'); } }"/>
			            <img src="/img/black-mana.jpg">
			            <span data-bind="text: blackLandCount">0</span>
			            <i class="icon-minus-sign pull-right" style="position:relative;top:2px;right:25px;" data-bind="event: { click: function(){ decrLandCount('B'); } }"/>
			          </li>
			          <li id="red-mana">
			            <i class="icon-plus-sign pull-left" style="position:relative;top:2px;left:25px;" data-bind="event: { click: function(){ incrLandCount('R'); } }"/>
			            <img src="/img/red-mana.jpg">
			            <span data-bind="text: redLandCount">0</span>
			            <i class="icon-minus-sign pull-right" style="position:relative;top:2px;right:25px;" data-bind="event: { click: function(){ decrLandCount('R'); } }"/>
			          </li>
			          <li id="green-mana">
			            <i class="icon-plus-sign pull-left" style="position:relative;top:2px;left:25px;" data-bind="event: { click: function(){ incrLandCount('G'); } }"/>
			            <img src="/img/green-mana.jpg">
			            <span data-bind="text: greenLandCount">0</span>
			            <i class="icon-minus-sign pull-right" style="position:relative;top:2px;right:25px;" data-bind="event: { click: function(){ decrLandCount('G'); } }"/>
			          </li>
			          <li>
			            <button class="btn btn-small btn-primary" style="margin-right:4px;">Suggest</button>
			            <button class="btn btn-small btn-success" data-bind="event: { click: addLandToMainboard }">Add</button>
			          </li>
					 	 	</ul>
					</div>
					<div id="control-bar-settings-btn" class="btn-group pull-left">
						<button class="btn btn-mini btn-inverse dropdown-toggle" data-toggle="dropdown">
							<i class="icon-white icon-cog"></i>
						</button>
							<ul class="dropdown-menu" style="left:-140px;">
								<li id="card-size-slider" class="pull-left">
						      <input id="slide" type="range" min="70" max="130" step="1" value="100" onchange="cardSizeChange(this.value);"/><!-- Todo onchange callback-->
								</li><!-- End #card-size-slider -->
							</ul>
					</div>
					<div id="reset-btn" class="btn-group pull-left">
						<button class="btn btn-mini btn-inverse"><i class="icon-white icon-remove"></i></button>
					</div>
			    <!--<span id="sort">
			      <div class="input-prepend">
			        <div id="sort-wrapper" class="btn-primary">
			          <div class="btn-group">
			            <button id="sort-button" class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown">
			              <span>Sort</span>
			            </button>
			            <ul class="dropdown-menu">
			              <li>
			                <a tabindex="-1" href="#" data-bind="event: { click: function(){ sortPool('sideboard'); } }">Sideboard</a>
			              </li>
			              <li>
			                <a tabindex="-1" href="#" data-bind="event: { click: function(){ sortPool('mainboard'); } }">Mainboard</a>
			              </li>
			            </ul>
			          </div>
			          <span id="prependedInput">
			            <select data-bind="options: sortOptions, optionsText: 'optionsText', value: selectedSortOption"/>
			          </span>
							</div>End #sort-wrapper
			      </div> End .input-prepend
					</span>End #sort-->
			    <!--<span id="add-land" style="text-align:center; margin:0px;">
			      <div class="btn-group">
			        <button id="add-land-button" class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown">
			          <span>Add Land</span>
			        </button>
			        <ul id="add-land-dropdown" class="dropdown-menu" style="top:18px;left:-35px;width:136px;min-width:136px;">
			          <li id="white-mana">
			            <i class="icon-plus-sign pull-left" style="position:relative;top:2px;left:25px;" data-bind="event: { click: function(){ incrLandCount('W'); } }"/>
			            <img src="/img/white-mana.jpg">
			            <span data-bind="text: whiteLandCount">0</span>
			            <i class="icon-minus-sign pull-right" style="position:relative;top:2px;right:25px;" data-bind="event: { click: function(){ decrLandCount('W'); } }"/>
			          </li>
			          <li id="blue-mana">
			            <i class="icon-plus-sign pull-left" style="position:relative;top:2px;left:25px;" data-bind="event: { click: function(){ incrLandCount('U'); } }"/>
			            <img src="/img/blue-mana.jpg">
			            <span data-bind="text: blueLandCount">0</span>
			            <i class="icon-minus-sign pull-right" style="position:relative;top:2px;right:25px;" data-bind="event: { click: function(){ decrLandCount('U'); } }"/>
			          </li>
			          <li id="black-mana">
			            <i class="icon-plus-sign pull-left" style="position:relative;top:2px;left:25px;" data-bind="event: { click: function(){ incrLandCount('B'); } }"/>
			            <img src="/img/black-mana.jpg">
			            <span data-bind="text: blackLandCount">0</span>
			            <i class="icon-minus-sign pull-right" style="position:relative;top:2px;right:25px;" data-bind="event: { click: function(){ decrLandCount('B'); } }"/>
			          </li>
			          <li id="red-mana">
			            <i class="icon-plus-sign pull-left" style="position:relative;top:2px;left:25px;" data-bind="event: { click: function(){ incrLandCount('R'); } }"/>
			            <img src="/img/red-mana.jpg">
			            <span data-bind="text: redLandCount">0</span>
			            <i class="icon-minus-sign pull-right" style="position:relative;top:2px;right:25px;" data-bind="event: { click: function(){ decrLandCount('R'); } }"/>
			          </li>
			          <li id="green-mana">
			            <i class="icon-plus-sign pull-left" style="position:relative;top:2px;left:25px;" data-bind="event: { click: function(){ incrLandCount('G'); } }"/>
			            <img src="/img/green-mana.jpg">
			            <span data-bind="text: greenLandCount">0</span>
			            <i class="icon-minus-sign pull-right" style="position:relative;top:2px;right:25px;" data-bind="event: { click: function(){ decrLandCount('G'); } }"/>
			          </li>
			          <li>
			            <button class="btn btn-small btn-primary" style="margin-right:4px;">Suggest</button>
			            <button class="btn btn-small btn-success" data-bind="event: { click: addLandToMainboard }">Add</button>
			          </li>
			        </ul> End #add-land-dropdown 
			      </div> End .btn-group 
						</span> End #add-land-->
				</div><!--End #control-bar-buttons-->
			</div>
		</div>
		
  </div><!-- End #control-bar -->
	
  <div id="bottom-screen">
    <div id="deck-area" class="well">
      <div id="deck-area-scroll">
       <div id="deck-area-inner">
        <div data-bind="foreach: mainboard">
          <div data-bind="foreach: columns">
            <div class="column" data-bind="foreach: cards, event: { mouseover: mouseOver }">
              <div class="card" data-bind="style: { backgroundImage: 'url(' + imgSrc() + ')' }, event: { mousedown: function(data,event){ mouseDownHandler('mainboard', event); }, mouseup: mouseUpHandler, mouseover: function(){ cardZoom($root); }, click: cardHighlight, dblclick: function(){ cardSelect('mainboard'); } }"/>
            </div>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div><!-- End #bottom-screen -->
	<div id="drag-drop-card" style="display:none;position:absolute;z-index:4000;"></div>
</div><!-- End #limited -->