<div id="limited">
	
  <div id="top-screen" class="clearfix">
    <div id="preview-wrapper" class="well pull-left">
      <div id="img-preview" data-bind="style: { backgroundImage: 'url(' + imgSrc() + ')' }"/>
    </div>
    <div id="card-pool" class="well pull-left">
      <div id="card-pool-scroll" class="clearfix">
        <div id="card-pool-inner" class="pull-left clearfix">
         <div data-bind="foreach: sideboard">
           <div data-bind="foreach: columns">
             <div class="column" data-bind="foreach: cards, event: { mouseover: mouseOver }">
               <div class="card" data-bind="style: { backgroundImage: 'url(' + imgSrc() + ')' }, event: { mousedown: function(data,event){ mouseDownHandler('sideboard', event); }, mouseup: mouseUpHandler, mouseover: function(){ cardZoom($root); }, click: cardHighlight, dblclick: function(){ cardSelect('sideboard'); } }"/>
             </div>
           </div>
         </div>
       </div>
      </div>
    </div>
  </div><!-- End #top-screen -->
	
  <div id="control-bar-container">
		<div id="limited-control-bar" class="clearfix" style="width:100%;">
			
	    <div id="limited-control-bar-left" class="pull-left">
				<div id="mainboard-breakdown">
		      <span id="mainboard-total" data-bind="text: mainboardSize"></span>
		      <span>/40</span>
		      <span style="margin-left:17px;">Creatures:</span>
		      <span id="mainboard-creatures" data-bind="text: numMainboardCreatures"></span>
		      <span style="margin-left:17px;">Lands:</span>
		      <span id="mainboard-lands" data-bind="text: numMainboardLands"></span>
		    </div><!-- End #mainboard-breakdown -->
			</div>
			
			<div id="limited-control-bar-right" class="pull-right clearfix">
		
				<div id="offset-y-container" class="pull-left">
					<div id="drag-offset-y" style="margin-left:auto;margin-right:auto;">
						<i class="icon-align-justify icon-white"></i>
					</div>
				</div>
		
				<div id="control-bar-buttons" class="btn-toolbar pull-right">
					<div id="sort-btn" class="btn-group pull-left">
						<button class="btn btn-group pull-left">
	            <a class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
								Sort
	            </a>
	            <ul class="dropdown-menu pull-right" style="width:auto;min-width:0px;">
	              <li>
	                <a tabindex="-1" data-bind="event: { click: function(){ sortPool('sideboard'); } }">Sideboard</a>
	              </li>
	              <li>
	                <a tabindex="-1" data-bind="event: { click: function(){ sortPool('mainboard'); } }">Mainboard</a>
	              </li>
						                
	            </ul>
	        	</button>
		        <button class="btn btn-group pull-left">
	            <a id="aSortDisplay" class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
								by cost
	            </a>
	            <ul class="dropdown-menu" style="width:auto;min-width:0;">
						    <li><a data-bind="event: { click: function(){ selectSortOption('cmc'); } }">by cost</a></li>
								<li><a data-bind="event: { click: function(){ selectSortOption('color'); } }">by color</a></li>
                <li><a data-bind="event: { click: function(){ selectSortOption('rarity'); } }">by rarity</a></li>
								<li><a>by type</a></li>
	            </ul>
		        </button>
					</div>
					
					<div id="add-land-btn" class="btn-group pull-left">
		        <button class="btn btn-mini btn-success dropdown-toggle" data-toggle="dropdown">Add Land</button>
			        <ul id="add-land-dropdown" class="dropdown-menu pull-right">
								<li class="clearfix">
									<div class="pull-left clearfix half-width">
										<div class="pull-left clearfix">
											<i class="icon-plus-sign pull-right" data-bind="event: { click: function(){ incrLandCount('W'); } }"/>
										</div>
										<div class="pull-right">
											<img src="/img/white-mana.jpg">
										</div>
									</div>
									<div class="pull-right clearfix half-width">
										<div class="pull-left">
											<span data-bind="text: whiteLandCount">0</span>
										</div>
										<div class="pull-right clearfix">
											<i class="icon-minus-sign pull-left" data-bind="event: { click: function(){ decrLandCount('W'); } }"/>
										</div>
									</div>
								</li>
								<li class="clearfix">
									<div class="pull-left clearfix half-width">
										<div class="pull-left clearfix">
											<i class="icon-plus-sign pull-right" data-bind="event: { click: function(){ incrLandCount('U'); } }"/>
										</div>
										<div class="pull-right">
											<img src="/img/blue-mana.jpg">
										</div>
									</div>
									<div class="pull-right clearfix half-width">
										<div class="pull-left">
											<span data-bind="text: blueLandCount">0</span>
										</div>
										<div class="pull-right clearfix">
											<i class="icon-minus-sign pull-left" data-bind="event: { click: function(){ decrLandCount('U'); } }"/>
										</div>
									</div>
								</li>
								<li class="clearfix">
									<div class="pull-left clearfix half-width">
										<div class="pull-left clearfix">
											<i class="icon-plus-sign pull-right" data-bind="event: { click: function(){ incrLandCount('B'); } }"/>
										</div>
										<div class="pull-right">
											<img src="/img/black-mana.jpg">
										</div>
									</div>
									<div class="pull-right clearfix half-width">
										<div class="pull-left">
											<span data-bind="text: blackLandCount">0</span>
										</div>
										<div class="pull-right clearfix">
											<i class="icon-minus-sign pull-left" data-bind="event: { click: function(){ decrLandCount('B'); } }"/>
										</div>
									</div>
								</li>
								<li class="clearfix">
									<div class="pull-left clearfix half-width">
										<div class="pull-left clearfix">
											<i class="icon-plus-sign pull-right" data-bind="event: { click: function(){ incrLandCount('R'); } }"/>
										</div>
										<div class="pull-right">
											<img src="/img/red-mana.jpg">
										</div>
									</div>
									<div class="pull-right clearfix half-width">
										<div class="pull-left">
											<span data-bind="text: redLandCount">0</span>
										</div>
										<div class="pull-right clearfix">
											<i class="icon-minus-sign pull-left" data-bind="event: { click: function(){ decrLandCount('R'); } }"/>
										</div>
									</div>
								</li>
								<li class="clearfix">
									<div class="pull-left clearfix half-width">
										<div class="pull-left clearfix">
											<i class="icon-plus-sign pull-right" data-bind="event: { click: function(){ incrLandCount('G'); } }"/>
										</div>
										<div class="pull-right">
											<img src="/img/green-mana.jpg">
										</div>
									</div>
									<div class="pull-right clearfix half-width">
										<div class="pull-left">
											<span data-bind="text: greenLandCount">0</span>
										</div>
										<div class="pull-right clearfix">
											<i class="icon-minus-sign pull-left" data-bind="event: { click: function(){ decrLandCount('G'); } }"/>
										</div>
									</div>
								</li>
			          <li>
									<div class="text-center">
			            	<button class="btn btn-mini btn-primary" data-bind="event: { click : suggestLand }">Suggest</button>
									</div>
								</li>
								<li class="add-land-dropdown-btns clearfix">
									<div class="half-width pull-left">
			            	<button class="btn btn-mini btn-success pull-right" data-bind="event: { click: addLandToMainboard }">Add</button>
									</div>
									<div class="half-width pull-right">
										<button class="btn btn-mini btn-danger pull-left" data-bind="event: { click : resetLandCounters }">Reset</button>
									</div>
			          </li>
					 	 	</ul>
					</div>
					<div id="control-bar-settings-btn" class="btn-group pull-left">
						<button class="btn btn-mini btn-warning dropdown-toggle" data-toggle="dropdown">
							<i class="icon-white icon-cog"></i>
						</button>
							<ul class="dropdown-menu pull-right">
								<li id="card-size-slider" class="clearfix">
									<div id="card-size-slider-left" class="pull-left clearfix">
										<div id="card-size-slider-left-left" class="pull-left">
											<img src="../img/grey-card.png" class="pull-right"/>
										</div>
										<div id="card-size-slider-left-right" class="pull-right">
						      		<input id="slide" type="range" min="70" max="130" step="1" value="100" onchange="cardSizeChange(this.value);"/><!-- Todo onchange callback-->
										</div>
									</div>
									<div id="card-size-slider-right" class="pull-right clearfix">
										<img src="../img/grey-card.png" class="pull-right"/>
									</div>
								</li><!-- End #card-size-slider -->
							</ul>
					</div>
					<div id="reset-btn" class="btn-group pull-left">
						<button class="btn btn-mini btn-danger dropdown-toggle" data-toggle="dropdown">
							<i class="icon-white icon-remove"></i><!--data-bind="event: { click : clearMainboard }"-->
						</button>
							<ul class="dropdown-menu pull-right">
								<li><a data-bind="event: { click : clearMainboard }">Reset All</a></li>
								<li><a data-bind="event: { click : clearMainboardLands }">Reset Land</a></li>
							</ul>
					</div>
				</div><!--End #control-bar-buttons-->
			</div>
		</div>
		
  </div><!-- End #control-bar -->
	
  <div id="bottom-screen">
    <div id="deck-area" class="well">
      <div id="deck-area-scroll">
       <div id="deck-area-inner">
        <div data-bind="foreach: mainboard">
          <div data-bind="foreach: columns">
            <div class="column" data-bind="foreach: cards, event: { mouseover: mouseOver }">
              <div class="card" data-bind="style: { backgroundImage: 'url(' + imgSrc() + ')' }, event: { mousedown: function(data,event){ mouseDownHandler('mainboard', event); }, mouseup: mouseUpHandler, mouseover: function(){ cardZoom($root); }, click: cardHighlight, dblclick: function(){ cardSelect('mainboard'); } }"/>
            </div>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div><!-- End #bottom-screen -->
	<div id="drag-drop-card" style="display:none;position:absolute;z-index:4000;"></div>
</div><!-- End #limited -->