#splash(style="display:block;")
  #screenshot-carousel.carousel.slide
    .carousel-inner
      .item.active
        img#slide1.screenshot(src="/img/builder_screenshot.png")
      .item
        img#slide2.screenshot(src="/img/draft_screenshot.png")
  #tagline
    div(style="padding-top:25px;")
      span Draft.
      br
      span Sealed.
      br
      span 70+ sets.
      br
      button.btn.btn-large.btn-primary(onclick="showLobby();") Launch