<div id="splash" style="display:block;background-color:#fff;width:100%;height:auto;margin-top:-30px;">
  <!--<div id="screenshot-carousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <img id="slide1" class="screenshot" src="/img/builder_screenshot.png"/>
      </div>
      <div class="item">
        <img id="slide2" class="screenshot" src="/img/draft_screenshot.png"/>
      </div>
    </div>
  </div>
  <div id="tagline">
    <div style="padding-top:25px;">
      <span>Draft.</span>
      <br>
      <span>Sealed.</span>
      <br>
      <span>70+ Sets.</span>
      <br>
      <button class="btn btn-large btn-primary" data-bind="click: showFoyer">Launch</button>
    </div>
  </div>-->
	<div id="splash-content-container" style="max-width:1000px;margin-left:auto;margin-right:auto;padding-bottom:50px;padding-top:20px;text-align:center;">
		<img id="imac-wrapper" src="/img/imac.png" style="width:100%;" />
		<div id="imac-screenshot-wrapper" style="margin-left:auto;margin-right:auto;">
			<img id="imac-screenshot-1" src="/img/builder_screenshot.png" style="width:100%;height:100%;display:none;" />
		</div>
		<button class="btn btn-large btn-primary" style="margin-top:250px;" data-bind="click: showFoyer">Launch</button>
		<button class="btn" onclick="showBuilder();">Load Builder</button>
	</div>
	
	<div id="lightbox-login-register-container">
		<div id="lightbox-txt-container" class="row-fluid">
			<div class="span12">
				<h1><span>Log In</span></h1>
			</div>
		</div>
		<div id="login-username-container" class="row-fluid">
			<div class="span12">
				<input type="text" class="span12" id="login-nickname" placeholder="Username"/>
			</div>
		</div>
		<div id="register-username-container" class="row-fluid" style="display:none;">
			<div class="span12">
				<input type="text" class="span12" id="register-nickname" placeholder="Username"/>
			</div>
		</div>
		<div id="login-password-container" class="row-fluid">
			<div class="span12">
				<input type="password" class="span12" id="login-password" placeholder="Password"/>
			</div>
		</div>
		<div id="register-password-container" class="row-fluid" style="display:none;">
			<div class="span12">
				<input type="password" class="span12" id="register-password-confirm" placeholder="Password"/>
			</div>
		</div>
		<div id="register-password-confirm-container" class="row-fluid" style="display:none;">
			<div class="span12">
				<input type="password" class="span12" id="register-password-confirm" placeholder="Confirm Password"/>
			</div>
		</div>
		<div id="register-email-container" class="row-fluid" style="display:none;">
			<div class="span12">
				<input type="text" class="span12" id="register-email" placeholder="Email Address"/>
			</div>
		</div>
		<div id="register-email-confirm-container" class="row-fluid" style="display:none;">
			<div class="span12">
				<input type="text" class="span12" id="register-email" placeholder="Confirm Email Address"/>
			</div>
		</div>
		
		<div id="register-view-register-btn" class="row-fluid" style="display:none;">
			<div class="span12">
				<button id="register-btn" class="btn btn-small btn-primary span12">Register</button>
			</div>
		</div>
		
		<div id="register-view-login-btn" class="row-fluid" style="display:none;">
			<div class="span12">
				<button id="register-btn" class="btn btn-small btn-success span12" onclick="showLoginForm();">Login</button>
			</div>
		</div>
		
		<div id="login-view-login-btn" class="row-fluid">
			<div class="span6">
				<button id="login-btn" class="btn btn-small btn-success span12">Login</button>
			</div>
			<div class="span6">
				<button id="guest-btn" class="btn btn-small btn-success span12">Guest</button>
			</div>
		</div>
		
		<div id="login-view-register-btn" class="row-fluid">
			<div class="span12">
				<button id="register-show-btn" class="btn btn-small btn-primary span12" onclick="showRegisterForm();">Register</button>
			</div>
		</div>
		
	</div>
	
	
	
</div>