body {
	/*background-image:url('/img/hexabump.png');
	background-repeat:repeat;*/
	background-color:#2f2f2f;
}

textarea {
    resize: none;
}

/* Don't show shadows when selecting text */
::-moz-selection { background: #555; color: #fff; text-shadow: none; }
::selection { background: #555; color: #fff; text-shadow: none; }

.well {
	padding:0;
	margin:0;
}
.row-fluid {
	min-height:0px;
}




.raised {
	-moz-box-shadow: inset 0 -5px 15px -3px rgba(0, 0, 0, 0.8), inset 0 5px 15px -6px rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 -5px 15px -3px rgba(0, 0, 0, 0.8), inset 0 5px 15px -6px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 -5px 15px -3px rgba(0, 0, 0, 0.8), inset 0 5px 15px -6px rgba(255, 255, 255, 0.3);
  /*-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 -1px 0, rgba(0, 0, 0, 0.8) 0 -1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 -1px 0, rgba(0, 0, 0, 0.8) 0 -1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 -1px 0, rgba(0, 0, 0, 0.8) 0 -1px 7px 0px inset;*/
  background: #202020;
  border: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}



/* Header */
	#header #open {
		height:30px;/* linked with #content padding-top */
		margin-bottom: 0;
		background-color:#2f2f2f;
		position: fixed;
		right: 0;
		left: 0;
		z-index: 1030;
	}
	
	#header .foyer-header {
		-webkit-box-shadow: 0px 1px 7px #111;
		-moz-box-shadow:    0px 1px 7px #111;
		box-shadow:         0px 1px 7px #111;
		
		background-color: #fafafa;
		background-image: -moz-linear-gradient(top, #333, #111);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#111));
		background-image: -webkit-linear-gradient(top, #333, #111);
		background-image: -o-linear-gradient(top, #333, #111);
		background-image: linear-gradient(to bottom, #333, #111);
		background-repeat: repeat-x;
	}
	
	#header #logo {
		padding-left:40px;
		padding-right:20px;
	}
	
	#header img {
		height:28px;
	}
	
	/*#header #open a {
		padding-left:40px;
		
		color:#444;
		line-height:28px;
		font-size:14px;
		font-weight:400;
		text-decoration:none;
	}
	
	#header #open a:visited {
		color:#444;
	}
	
	#header #open a:hover {
		color:#777;
		text-decoration:none;
	}*/
	
	#header .tab {
		font-size:12px;
		font-weight:200;
		line-height:12px;
		padding-top:6px;
		padding-bottom:6px;
		color:#888;
	}
	
	#header .well {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	
	#header li {
		margin-left:2px;
	}
	
	.nav-pills > .active > a, .nav-pills > .active > a:hover {
		background-color:transparent;
	}

/* Header End */	




/* Content */
#content {
	padding-top:30px;
}
/* Content End */




/* Splash */
#splash {

}

#splash #screenshot-carousel {
	overflow:hidden;
	margin-bottom:0px;
}

#splash #screenshot-carousel .screenshot {
	min-width:1200px;
	width:100%;
	position:relative;
	top:0px;
}

#splash #tagline {
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #fff, #bbb);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#bbb));
	background-image: -webkit-linear-gradient(top, #fff, #bbb);
	background-image: -o-linear-gradient(top, #fff, #bbb);
	background-image: linear-gradient(to bottom, #fff, #bbb);
	background-repeat: repeat-x;
	
	position:relative;
	clear:both;
	z-index:1028;
	overflow:auto;
	
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	-webkit-box-shadow: 0px 5px 15px #111, inset 0px 1px 10px #fff;
	-moz-box-shadow:    0px 5px 15px #111, inset 0px 1px 10px #fff;
	box-shadow:         0px 5px 15px #111, inset 0px 1px 10px #fff;
	
	color:#444;
	text-align:center;
	font-size:48px;
	font-weight:200;
	line-height:52px;
	text-shadow: -1px -1px 1px #000, 0px 1px 1px #999; /* Bevel text */
	
	border:1px solid #888;
}

#splash #launch-btn {
	padding: 16px 24px;
	font-size: 20px;
	position:relative;
	top:20px;
}

#splash #splash-footer {
	height:300px;
	background-color:#ccc;
	width:100%;
	border-top:1px solid #fff;
}
/* Splash End */





/* Foyer */
#foyer {
	background-image:url('http://media.wizards.com/images/magic/daily/wallpapers/Black_Lotus_MTGOweek_1920x1080_Wallpaper.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:-50px -50px;
}
#foyer #foyer-content-container {
	margin-left:auto;
	margin-right:auto;
	padding:20px 10px;
	height:auto;
	background-color:transparent;
	background-image:url('/img/transparent-foyer-bg.png');
	background-repeat:repeat;
	-moz-border-bottom-left-radius:10px;
	-moz-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	-moz-box-shadow: inset 0 0 1px 1px #202020;
	-webkit-box-shadow: inset 0 0 1px 1px #202020;
	box-shadow: inset 0 0 1px 1px #202020;
	margin-top:-1px;
}

#foyer .chat-username {
	font-size:14px;
	font-weight:600;
	padding-right:5px;
	line-height:14px;
}

#foyer .chat-msg {
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	font-size:14px;
	font-weight:400;
	line-height:14px;
}

#foyer #portal {
	clear:both;
	height:429px;
	color:#fff;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	text-align:center;
}

#foyer #portal #left-pane-wrapper {
	width:auto;
	height:429px;
}

#foyer #portal #left-pane {
	width:auto;
	display:inline-block;
	padding:5px;
}

#foyer #portal #chat {
	
}

#foyer #portal #chat #convo {
	height:370px;
	overflow:auto;
	text-align:left;
	padding:0;
	padding-bottom:20px;
}

#foyer #portal #chat #chat-input {
	clear:both;
	padding-top:5px;
	height:24px;
}

#foyer #portal #chat-input input {
	height:24px;
	margin:0px;
	padding:0px;
	display:inline-block;
	-moz-border-top-right-radius:0;
	-moz-border-bottom-right-radius:0;
	-webkit-border-top-right-radius:0;
	-webkit-border-bottom-right-radius:0;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}

#foyer #portal #chat-input button {
	line-height:18px;
	-moz-border-top-left-radius:0;
	-moz-border-bottom-left-radius:0;
	-webkit-border-top-left-radius:0;
	-webkit-border-bottom-left-radius:0;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}

/*#foyer #portal #chat-input #color-picker {
	height:25px;
	width:25px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:1px;
	padding-right:1px;
	display:inline-block;
	margin-bottom:0px;
	margin-left:5px;
	margin-right:5px;
}*/

#foyer #portal #userlist {
	margin-left:0px;
	height:419px;
	overflow:auto;
}

#foyer #portal .chat-user {
	padding-right:5px;
	padding-left:5px;
}

#foyer #portal .chat-user:hover {
	cursor:pointer;
}

#foyer #portal .chat-status {
	font-size:10px;
	font-weight:200px;
	font-style:italic;
}

#foyer #portal #right-pane {
	margin-left:0px;
	display:inline-block;
	padding:5px;
}

#foyer #portal #sets {
	height:390px;
	overflow:auto;
}

#foyer #portal #sets .table {
	margin-bottom:0px;
}

#foyer #portal #sets tr:hover {
	cursor:pointer;
}

#foyer #portal #set-select {
	clear:both;
	height:24px;
	margin-top:5px;
	text-align:right;
}

#foyer #portal #set-select button {
	line-height:18px;
}

#foyer #portal #select-draft-button {
	margin-right:3px;
}

#foyer #foyer-subcontent {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-bottom:50px;
}

#foyer .headline-txt {
	font-size:45px;
	font-weight:200;
	line-height:45px;
	font-style:italic;
}

#foyer #foyer-subcontent #donate {
}

#foyer #foyer-subcontent #share {
}

#foyer #foyer-subcontent #share-msg {
	margin-bottom:7px;
}

#foyer #foyer-subcontent #share-buttons {
	height:38px;
	line-height:38px;
}

#foyer #foyer-subcontent #donate img {
	width:100px;
}

#foyer #foyer-footer {
	clear:both;
	margin-left:auto;
	margin-right:auto;
}

#foyer #foyer-footer-links {
	font-weight:100;
	font-size:22px;
	line-height:22px;
	margin-top:4px;
	text-align:center;
}

#foyer #foyer-footer-links a {
	color:#fff;
	text-decoration:none;
}

#foyer #foyer-disclaimer {
	clear:both;
	width:auto;
	height:80px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	text-align:center;
}
/* Foyer end */



  /* Draft View Divs and Classes */
    #draft {
    	width:100%;
			background-image:url('/img/retina_wood.png');
			background-repeat: repeat;
    }
    
    #draft .less-space [class*="span"] {
        margin-left:0.25%;
    }
    
    #draft .no-height {
      height:0px;
    }
		
		#draft .no-padding {
			padding:0%;
		}
		
		#draft .select {
			-moz-box-shadow: inset 0 0 7px 7px #0090ff;
			-webkit-box-shadow: inset 0 0 7px 7px#0090ff;
			box-shadow: inset 0 0 7px 7px #0090ff;
		}
  	  
    /* Pack Screen */
      #draft #pack-screen {
      	width:100%;
				height:auto;
				position:fixed;
				background-image:url('/img/retina_wood.png');
				background-repeat: repeat;
				padding-top:5px;
      }
			
	    #draft #pack-screen .row-padding {
	    	padding-bottom:0.25%;
	    }
      
      #draft #pack-screen #preview {
				background-image:url('/img/cardback.jpg');
				background-repeat: no-repeat;
				-moz-border-radius: 5.5%;
				-webkit-border-radius: 5.5%;
				border-radius: 5.5%;
      }
      
      #draft #pack-screen #preview img {
      	width:100%;
      }
      
      #draft #pack-screen .row-fluid .span1 {
        width: 12.2%;
        *width: 11.95%;
				background-repeat: no-repeat;
				-moz-border-radius: 5.5%;
				-webkit-border-radius: 5.5%;
				border-radius: 5.5%;
      }
      
      #draft #pack-screen .row-fluid .span2 {
        width: 19.65%;
        *width: 19.50%;
      }
      
      #draft #pack-screen .row-fluid .span10 {
        width: 79.85%;
        *width: 79.50%;
				padding-bottom:5px;
      }
			
			#draft #pack-screen .border-bottom {
				border-bottom: 1px solid #222;
			}
    
  	/* Control Bar */
      #draft #control-bar {
				color:#fff;
				background: rgb(48,49,53); /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(48,49,53,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(48,49,53,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(48,49,53,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(48,49,53,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(48,49,53,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(48,49,53,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303135', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
				font-weight:400;
				min-height:0px;
				padding-top:7px;
				padding-bottom:6px;
				padding-left:15px;
				border-top:1px solid #777;
				border-bottom:1px solid #000;
				-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
				-moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.75);
				box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.75);
      }
			
			#draft #control-bar #info {
				
			}

			#draft #control-bar #info .set-symbol {
				display:inline-block;
				float:left;
				width:60px;
				height:36px;
				line-height:36px;
				font-size:28px;
				padding-right:3px;
				padding-top:5px;
				background-image:url('/img/gtc_symbol.png');
				background-repeat:no-repeat;
				background-size:60px 36px;
				color:#fff;
				text-align:center;
			  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
			}
			
			#draft #control-bar #info .card-count {
				opacity:0.5;
				margin-left:-4px;
			}
			
			#draft #control-bar #info #pick-info-button {
				float:left;
				width:60px;
				height:40px;
				line-height:30px;
				color:#fff;
				text-align:center;
				margin-left:10px;
			}
			
			@font-face {
			  font-family: 'digital';
			  src: url('/fonts/digi.ttf');
			}
			
			#draft #control-bar #timer.digital-clock {
				float:right;
				width:80px;
			}
			
			#draft #control-bar .digital-clock {
				font-family: digital, arial, verdana;
				font-size:36px;
				line-height:36px;
				background: rgb(17,17,17); /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(17,17,17,1) 0%, rgba(38,38,38,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,17,17,1)), color-stop(100%,rgba(38,38,38,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(17,17,17,1) 0%,rgba(38,38,38,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(17,17,17,1) 0%,rgba(38,38,38,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(17,17,17,1) 0%,rgba(38,38,38,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(17,17,17,1) 0%,rgba(38,38,38,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
				padding-left:5px;
				padding-right:5px;
				color:#5bb75b;
				text-shadow: 0 0 5px rgba(0, 200, 0, 1);
				-moz-box-shadow: inset -1.5px -1.5px 2px #222;
				-webkit-box-shadow: inset -1.5px -1.5px 2px #222;
				box-shadow: inset -1.5px -1.5px 2px #222;
				border-top:1px solid #111;
				border-left:1px solid #111;
				border-bottom:1px solid #2B2B2B;
				border-right:1px solid #2B2B2B;
				-webkit-border-radius: 4px 4px 4px 4px;
				-moz-border-radius: 4px 4px 4px 4px;
				border-radius: 4px 4px 4px 4px;
				text-align:center;
			}
			
			#control-bar .btn-mini {
				padding:1px 10px;
			}
			
			#control-bar #sort {
				float:right;
				padding-left:8px;
			}
			
			#control-bar #sort .input-prepend {
				padding-bottom:0px;
				margin-bottom:0px;
			}
			
			#control-bar #sort-wrapper {
				float:right;
				height:22px;
				width:auto;
				-webkit-border-radius: 4px 4px 4px 4px;
				-moz-border-radius: 4px 4px 4px 4px;
				border-radius: 4px 4px 4px 4px;
				-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
				-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
				box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
				padding-right:3px;
				border-left:0px;
			}
			
			#control-bar #sort #sort-button {
				border:0px;
				border-right:1px solid;
				border-right-color: rgba(0, 0, 0, 0.0980392);
				height:22px;
			}
			
			#control-bar #sort .dropdown-menu {
				min-width:0px;
			}
			
			#control-bar span {
				display:inline;
			}
			
			#control-bar #prependedInput {
				padding-left:5px;
			}
			
			#control-bar #sort select {
				line-height:24px;
				margin-bottom:0px;
				padding-bottom:0px;
				width:100px;
				position:relative;
				height:18px;
				font-size:12px;
				background:#fff;
				color:#000;
				margin-top:2px;
			}
			
			#draft #control-bar #shuffle {
				float:right;
				padding-left:10px;
				padding-right:10px;
				
			}
			
			#draft #control-bar #shuffle #shuffle-button {
				padding-right: 12px;
				padding-left: 12px;
				line-height:28px;
			}
			
    
  	/* Pick Screen */
      #draft #pick-screen {
				padding-bottom:500px;
      }
  		
      #draft #pick-screen .row-fluid .span1 {
        width: 9.72%;
        *width: 9.47%;
      }
			
      #draft #pick-screen .stack {
				margin-bottom:-12%;
      }
			
      #draft #pick-screen .rounded {
				-moz-border-radius: 6.5%;
				-webkit-border-radius: 6.5%;
				border-radius: 6.5%;
				
      }
			
			
			
			
			/*End Draft styles*/
	
	#draft-builder {
		margin:0;
		padding:0;
	}
	
	#draft-builder #top-screen {
		padding:0;
		padding-left:5px;
		padding-right:5px;
	}
	
	#draft-builder #preview-wrapper {
		background:#202020;
		display:inline-block;
	}
	
	#draft-builder #img-preview {
		background-color:transparent;
		background-repeat: no-repeat;
		-webkit-border-radius: 6%;
		-moz-border-radius: 6%;
		border-radius: 6%;
		margin-left:3px;
		margin-top:3px;
		background-position: -3px -3px;
		-moz-box-shadow:inset 0px 0px 1px 1px #888;
		-webkit-box-shadow:inset 0px 0px 1px 1px #888;
		box-shadow:inset 0px 0px 1px 1px #888;
	}
	
	
	#draft-builder #card-pool {
		display:inline-block;
		/*background-image:url('/img/dark_wood.png');
		background-repeat: repeat;
		background-attachment:scroll;*/
		background:#202020;
		margin-left:5px;
	}
	
	#draft-builder #card-pool-scroll {
		overflow:auto;
		width:100%;
	}
	
	#draft-builder #card-pool-inner {
		float:left;
		padding-left:3px;
	}
	
	#draft-builder #control-bar {
		padding-top:3px;
		padding-bottom:3px;
		width:100%;
		color:#fff;
		font-weight:400;
		min-height:0px;
		line-height:22px;
	}
	
	#draft-builder #bottom-screen {
		padding-left:5px;
		padding-right:5px;
	}
	
	#draft-builder #deck-area {
		/*background-image:url('/img/dark_wood.png');
		background-repeat: repeat;*/
		background:#202020;
	}
	
	#draft-builder #deck-area-scroll {
		overflow:auto;
		width:100%;
	}
	
	#draft-builder #deck-area-inner {
		float:left;
		padding-left:3px;
	}
	
	#draft-builder .card {
		display:inline;
		background-position: 0px -1px;
		background-repeat: no-repeat;
		float:left;
		margin-right:3px;
		-webkit-border-radius: 6.5%;
		-moz-border-radius: 6.5%;
		border-radius: 6.5%;
		-moz-box-shadow:inset 0px 0px 1px 1px #888;
		-webkit-box-shadow:inset 0px 0px 1px 1px #888;
		box-shadow:inset 0px 0px 1px 1px #888;
		height:198.7px;
		width:143px;
		background-size:143px 198.7px;
		position:relative;
		z-index:-1;
	}
	
	#draft-builder .stack {
		margin-top:-178px;
	}
	
	#draft-builder #mainboard-breakdown {
		font-size:17px;
		font-weight:400;
		color:#aaa;
		text-shadow: -1px -1px 1px #000, 0px 1px 1px #444; /* Bevel text */
		margin-left:10px;
	}
	
	#draft-builder #mainboard-breakdown .well {
		min-width:25px;
		display:inline-block;
		text-align:right;
		padding-right:8px;
		text-shadow: 0 0 3px rgba(250, 250, 250, 0.5);
		color:#ddd;
	}
	
	#draft-builder #card-size-slider {
		margin-left:40px;
		line-height:20px;
	}
	
	input[type="range"]{
		-webkit-appearance:none; 
		-moz-apperance:none; 
		width:80%;
		margin-left:10%; 
		height:5px;
		margin-top:-2px;
	}
	
	#card-size-slider input::-webkit-slider-thumb{
		-webkit-appearance:none; 
		-moz-apperance:none; 
		width:10px; 
		height:10px;
		-webkit-border-radius:10px; 
		-moz-border-radius:10px; 
		-ms-border-radius:10px; 
		-o-border-radius:10px; 
		border-radius:10px;
		background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(0.49, #dddddd), color-stop(0.51, #d1d1d1), color-stop(1, #a1a1a1) );
	}
	
	#draft-builder #sort {
		margin-right:10px;
	}
	
	#draft-builder #add-land {
		color:#000;
	}
	
	#draft-builder #control-bar .btn {

		vertical-align:baseline;
	}
	
	#draft-builder .btn-group {
		font-size:18px;
		vertical-align:baseline;
		line-height:12px;
	}
	
	#draft-builder #add-land-button {
		height:22px;
	}
	
	#draft-builder #add-land img {
		height:20px;
		width:20px;
	}
	
	.card-pool-row {
		display:block;
		clear:both;
	}
	
	.cardResize {
		background-color:#fff;
		-moz-box-shadow:inset 0px 0px 1px 7px #aaa;
		-webkit-box-shadow:inset 0px 0px 1px 7px #aaa;
		box-shadow:inset 0px 0px 1px 7px #aaa;
	}