
div.builder_list_div {
    width:78%;
    border:2px solid;
    border-radius:8px;
    padding:5px;
}

div.builder_list_pool_main {
    height:200px;
}

div.builder_list_side {
    height:125px;
}

div.builder_table_div {
    height:66%; width:100%; overflow-y:scroll;
}

table.builder_content_table {
    display:table; text-align:left; width:100%; table-layout:fixed;
}

table.builder_content_inner_table {
    display:table; text-align:left; width:100%;
}

table.builder_header_table {
    width:100%; height:auto;
}

tbody.builder_tbody {
    display:table-row-group; text-align:left;
}

th.bth {
    font-size : x-small;
}

th.bth_name {
    width : 15%;
}

th.bth_type {
    width : 12%;
}

th.bth_stype {
    width : 7%;
}

th.bth_power {
    width : 6%;
}

th.bth_tough {
    width : 6%;
}

th.bth_mana {
    width : 5%;
}

th.bth_set {
    width : 5%;
}

th.bth_rarity {
    width : 7%;
}

th.bth_flavor {
    width : auto;
}


/*  <td>  */
td.btd {
    font-size : x-small;
}

td.btd_name {
    width : 15%;
}

td.btd_type {
    width : 12%;
}

td.btd_stype {
    width : 7%;
}

td.btd_power {
    width : 6%;
}

td.btd_tough {
    width : 6%;
}

td.btd_mana {
    width : 5%;
}

td.btd_set {
    width : 5%;
}

td.btd_rarity {
    width : 7%;
}

td.btd_flavor {
    width : auto;
}


input.bcradio {
    
    padding-left : 5px;
    margin-top : 10px;
    
}

label.bcrlabel {
    
    padding-left : 5px;
    margin-top : 10px;
    font-size : x-small;
    margin : auto;
    margin-right : 6px;
    
}

button.bsearchbtn {
    font-size : x-small;
    width : auto;
}

button.bsortbtn {
    margin-top:10px;
    width:auto;
    font-size:x-small;
}

select.bdrop_select {
    width:auto;
    font-size:x-small;
}

li.nav_section {
    padding:10px;
}










/* Header Divs and Classes */
#header #open {
	height:50px;/* linked with #content padding-top */
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	margin-bottom: 0;
	background: rgb(48,49,53); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(48,49,53,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(48,49,53,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(48,49,53,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(48,49,53,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(48,49,53,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(48,49,53,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303135', endColorstr='#000000',GradientType=0 ); /* IE6-9 */	
}
	
	#header #open a {
		color:#fff;
		line-height:40px;
		padding-left:15px;
		font-size:30px;
		text-decoration:none;
		position:relative;
		top:3px;
	}
	
	#header #open a:visited {
		color:#fff;
	}
	
	#header #open a:hover {
		color:#bbb;
		line-height:40px;
		padding-left:15px;
		font-size:30px;
		text-decoration:none;
	}

	#header #open #collapse {
		text-align:right;
	}
	
	#header #open #collapse .btn {
		height:50px;
		margin-top:-1px;
		width:50px;
	}
	
	#header #closed {
		height:20px;/* linked with #content padding-top */
		position: fixed;
		right: 0;
		left: 0;
		z-index: 1030;
		margin-bottom: 0;
		background: rgb(48,49,53); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(48,49,53,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(48,49,53,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(48,49,53,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(48,49,53,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(48,49,53,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(48,49,53,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303135', endColorstr='#000000',GradientType=0 ); /* IE6-9 */	
		
	}
	
	#header #closed #expand {
		text-align:right;
	}
	
	#header #closed #expand .btn {
		height:20px;
		margin-top:-2px;
		padding-top:0;
		width:50px;
	}
	
	#header #closed #expand .icon-chevron-down {
		margin-top:-2px;
		padding-top:0;
	}

/* Content Divs and Classes */
#content {
	padding-top:50px;
}

  /* Draft View Divs and Classes */
    #draft {
    	width:100%;
			background-image:url('/img/retina_wood.png');
			background-repeat: repeat;
    }
    
    #draft .less-space [class*="span"] {
        margin-left:0.25%;
    }
    
    #draft .no-height {
      height:0px;
    }
		
		#draft .no-padding {
			padding:0%;
		}
		
		#draft .select {
			-moz-box-shadow: inset 0 0 7px 7px #0090ff;
			-webkit-box-shadow: inset 0 0 7px 7px#0090ff;
			box-shadow: inset 0 0 7px 7px #0090ff;
		}
  	  
    /* Pack Screen */
      #draft #pack-screen {
      	width:100%;
				height:auto;
				position:fixed;
				background-image:url('/img/retina_wood.png');
				background-repeat: repeat;
				padding-top:5px;
      }
			
	    #draft #pack-screen .row-padding {
	    	padding-bottom:0.25%;
	    }
      
      #draft #pack-screen #preview {
				background-image:url('/img/cardback.jpg');
				background-repeat: no-repeat;
				-moz-border-radius: 5.5%;
				-webkit-border-radius: 5.5%;
				border-radius: 5.5%;
      }
      
      #draft #pack-screen #preview img {
      	width:100%;
      }
      
      #draft #pack-screen .row-fluid .span1 {
        width: 12.2%;
        *width: 11.95%;
				background-repeat: no-repeat;
				-moz-border-radius: 5.5%;
				-webkit-border-radius: 5.5%;
				border-radius: 5.5%;
      }
      
      #draft #pack-screen .row-fluid .span2 {
        width: 19.65%;
        *width: 19.50%;
      }
      
      #draft #pack-screen .row-fluid .span10 {
        width: 79.85%;
        *width: 79.50%;
				padding-bottom:5px;
      }
			
			#draft #pack-screen .border-bottom {
				border-bottom: 1px solid #222;
			}
    
  	/* Control Bar */
      #draft #control-bar {
				color:#fff;
				background: rgb(48,49,53); /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(48,49,53,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(48,49,53,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(48,49,53,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(48,49,53,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(48,49,53,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(48,49,53,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303135', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
				font-weight:400;
				min-height:0px;
				padding-top:7px;
				padding-bottom:6px;
				padding-left:15px;
				border-top:1px solid #777;
				border-bottom:1px solid #000;
      }
			
			#draft #control-bar #info {
				
			}

			#draft #control-bar #info .set-symbol {
				display:inline-block;
				float:left;
				width:60px;
				height:36px;
				line-height:36px;
				font-size:28px;
				padding-right:3px;
				padding-top:5px;
				background-image:url('/img/gtc_symbol.png');
				background-repeat:no-repeat;
				background-size:60px 36px;
				color:#fff;
				text-align:center;
			  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
			}
			
			#draft #control-bar #info .card-count {
				opacity:0.5;
				margin-left:-4px;
			}
			
			#draft #control-bar #info #pick-info-button {
				float:left;
				width:60px;
				height:40px;
				line-height:30px;
				color:#fff;
				text-align:center;
				margin-left:10px;
			}
			
			@font-face {
			  font-family: 'digital';
			  src: url('/fonts/digi.ttf');
			}
			
			#draft #control-bar #timer.digital-clock {
				float:right;
				width:80px;
			}
			
			#draft #control-bar .digital-clock {
				font-family: digital, arial, verdana;
				font-size:36px;
				line-height:36px;
				background: rgb(17,17,17); /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(17,17,17,1) 0%, rgba(38,38,38,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,17,17,1)), color-stop(100%,rgba(38,38,38,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(17,17,17,1) 0%,rgba(38,38,38,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(17,17,17,1) 0%,rgba(38,38,38,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(17,17,17,1) 0%,rgba(38,38,38,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(17,17,17,1) 0%,rgba(38,38,38,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
				padding-left:5px;
				padding-right:5px;
				color:#5bb75b;
				text-shadow: 0 0 5px rgba(0, 200, 0, 1);
				-moz-box-shadow: inset -1.5px -1.5px 2px #222;
				-webkit-box-shadow: inset -1.5px -1.5px 2px #222;
				box-shadow: inset -1.5px -1.5px 2px #222;
				border-top:1px solid #111;
				border-left:1px solid #111;
				border-bottom:1px solid #2B2B2B;
				border-right:1px solid #2B2B2B;
				-webkit-border-radius: 4px 4px 4px 4px;
				-moz-border-radius: 4px 4px 4px 4px;
				border-radius: 4px 4px 4px 4px;
				text-align:center;
			}
			
			#control-bar #sort {
				float:right;
				padding-left:10px;
			}
			
			#control-bar #sort .input-prepend {
				padding-bottom:0px;
				margin-bottom:0px;
			}
			
			#control-bar #sort-wrapper {
				float:right;
				height:36px;
				width:157px;
				padding-right:3px;
				-webkit-border-radius: 4px 4px 4px 4px;
				-moz-border-radius: 4px 4px 4px 4px;
				border-radius: 4px 4px 4px 4px;
				-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
				-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
				box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
				border:1px solid;
				border-top-color: rgba(0, 0, 0, 0.0980392);
				border-right-color: rgba(0, 0, 0, 0.0980392);
				border-bottom-color: rgba(0, 0, 0, 0.247059);
				border-left:0px;
			}
			
			#control-bar #sort #sort-button {
				padding-right: 12px;
				padding-left: 12px;
				border:0px;
				border-right:1px solid;
				border-right-color: rgba(0, 0, 0, 0.0980392);
				line-height:28px;
			}
			
			#control-bar #sort .dropdown-menu {
				min-width:0px;
			}
			
			#control-bar span {
				display:inline;
				padding-left:2px;
			}
			
			#control-bar #prependedInput {
				padding-left:5px;
			}
			
			#control-bar #sort select {
				margin-bottom:0px;
				padding-bottom:0px;
				width:85px;
				position:relative;
				top:3px;
			}
			
			#draft #control-bar #shuffle {
				float:right;
				padding-left:10px;
				padding-right:10px;
				
			}
			
			#draft #control-bar #shuffle #shuffle-button {
				padding-right: 12px;
				padding-left: 12px;
				line-height:28px;
			}
			
    
  	/* Pick Screen */
      #draft #pick-screen {
				padding-bottom:500px;
      }
  		
      #draft #pick-screen .row-fluid .span1 {
        width: 9.72%;
        *width: 9.47%;
      }
			
      #draft #pick-screen .stack {
				margin-bottom:-12%;
      }
			
      #draft #pick-screen .rounded {
				-moz-border-radius: 6.5%;
				-webkit-border-radius: 6.5%;
				border-radius: 6.5%;
				
      }
			
			
			
			
			/*End Draft styles*/
	
	#draft-builder {
		overflow:hidden;		
	}
	
	#draft-builder #top-screen {
		background-color:#fff;
		background-image:url('/img/retina_wood.png');
		background-repeat: repeat;
	}
	
	#draft-builder #img-preview {
		background-color:transparent;
		background-image:url('/img/cardback.jpg');
		background-repeat: no-repeat;
		-webkit-border-radius: 6%;
		-moz-border-radius: 6%;
		border-radius: 6%;
		margin-top:5px;
		margin-left:5px;
	}
	
	
	#draft-builder #card-pool {
		float:right;
	}
	
	#draft #card-pool-scroll {
		overflow:auto;
		width:100%;
	}
	
	#draft-builder #card-pool-inner {
		float:left;
		background-image:url('/img/retina_wood.png');
		background-repeat: repeat;
	}
	
	#draft-builder #control-bar {
		height:44px;
		width:100%;
		background-color:#000;
	}
	
	#draft-builder #bottom-screen {
		background-color:#444;
	}
	
	#draft-builder #deck-area {
		float:left;
	}
	
	#draft-builder #deck-area-scroll {
		overflow:auto;
		width:100%;
	}
	
	#draft-builder #deck-area-inner {
		background-image:url('/img/retina_wood.png');
		background-repeat: repeat;
		float:left;
		padding-left:3px;
	}
	
	#draft-builder .card {
		display:inline;
		background-image:url('/img/cardback.jpg');
		background-repeat: no-repeat;
		float:left;
		padding-right:3px;
		-webkit-border-radius: 6%;
		-moz-border-radius: 6%;
		border-radius: 6%;
		-moz-box-shadow:inset 0px 0px 1px 1px #ffffff;
		-webkit-box-shadow:inset 0px 0px 1px 1px #ffffff;
		box-shadow:inset 0px 0px 1px 1px #ffffff;
	}
	
	#draft-builder .stack {
		margin-top:-175px;
	}
	
	#draft-builder #sort {
		padding:2px;
	}

			
			#disclaimer {
				position:fixed;
				width:600px;
				bottom:1px;
				left:100px;
				z-index:-1;
			}
			
   
  