/* General classes and styles */

body {
	
}

#background-wrap {
	/*background-image:url('http://media.wizards.com/images/magic/daily/wallpapers/Moat_MTGOweek_1920x1080_Wallpaper.jpg');*/
	background-repeat:no-repeat;
	background-attachment:fixed;
	-webkit-background-attachment:fixed;
	/*background-position:-50px -50px;*/
	background-color:transparent !important;
	
	z-index: -1;
	position: fixed;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    background-attachment: fixed;
}

textarea {
    resize: none;
}

a:hover {
	cursor:pointer;
}

/* Don't show shadows when selecting text */
::-moz-selection { background: #555; color: #fff; text-shadow: none; }
::selection { background: #555; color: #fff; text-shadow: none; }

.well {
	padding:0;
	margin:0;
}
.row-fluid {
	min-height:0px;
}

.raised {
	-moz-box-shadow: inset 0 -5px 15px -3px rgba(0, 0, 0, 0.8), inset 0 5px 15px -6px rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 -5px 15px -3px rgba(0, 0, 0, 0.8), inset 0 5px 15px -6px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 -5px 15px -3px rgba(0, 0, 0, 0.8), inset 0 5px 15px -6px rgba(255, 255, 255, 0.3);
  /*-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 -1px 0, rgba(0, 0, 0, 0.8) 0 -1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 -1px 0, rgba(0, 0, 0, 0.8) 0 -1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 -1px 0, rgba(0, 0, 0, 0.8) 0 -1px 7px 0px inset;*/
  background: #202020;
  border: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.no-select {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

body.ns-resize-cursor {
	cursor:ns-resize !important;
}

.btn-group.btn {   border: 0;   padding: 0; }
/*.btn-group.btn > .btn { border-radius: 0; }*/
.btn-group.btn > .dropdown-menu {  text-align: left; }
/*.btn-joined-group:first-child > .btn {
  -webkit-border-radius: 4px 0 0 4px;-moz-border-radius: 4px 0 0 4px;border-radius: 4px 0 0 4px;
}

.btn-joined-group:last-child > .btn {
  -webkit-border-radius: 0 4px 4px 0;-moz-border-radius: 0 4px 4px 0;border-radius: 0 4px 4px 0;
}/*

input[readonly] {
	cursor:auto;
}

.typeahead {
	z-index:9999;
}

/* General classes and styles end */


/* Header */
#header {
	height:30px;/* linked with #content padding-top */
	margin-bottom: 0;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	display:none;
	width:100%;
}
#header #header-container {
	margin-left:auto;
	margin-right:auto;
	height:30px;/* linked with #content padding-top */
	margin-bottom: 0;
}

.foyer-header {
	-webkit-box-shadow: 0px 1px 7px #111;
	-moz-box-shadow:    0px 1px 7px #111;
	box-shadow:         0px 1px 7px #111;
	
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #fff, #a0a0a0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#a0a0a0));
	background-image: -webkit-linear-gradient(top, #fff, #a0a0a0);
	background-image: -o-linear-gradient(top, #fff, #a0a0d0);
	background-image: linear-gradient(to bottom, #fff, #a0a0a0);
	background-repeat: repeat-x;
}

.translucent-header {
	filter: alpha(opacity=0.75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;	
}

#header #logo {
	padding-right:20px;
}

#header img {
	height:24px;
	margin-top:2px;
}

#header .nav {
	margin:0;
}

/*#header #open a {
	padding-left:40px;
	
	color:#444;
	line-height:28px;
	font-size:14px;
	font-weight:400;
	text-decoration:none;
}

#header #open a:visited {
	color:#444;
}

#header #open a:hover {
	color:#777;
	text-decoration:none;
}*/

#header .tab {
	font-size:12px;
	font-weight:200;
	line-height:12px;
	padding-top:6px;
	padding-bottom:6px;
	color:#888;
}

#header .well {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#header li {
	margin-left:2px;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
	background-color:transparent;
}

#header-links {
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Viga', sans-serif;
	font-size: 18px;
	line-height: 30px;
	height:30px;
	text-align:right;
	font-weight:400;
}

#header-links .header-link {
	float:left;
}

#header-links .header-link-spacer {
	height:30px;
	min-height:30px;
	float:left;
}

#header-links .btn {
	margin-top:3px;
}

.down-arrow {
	background-image: url('/static/img/downArrow.png');
	background-repeat: no-repeat;
	background-position: center right;
	padding: 0 9px 0 0;
}

.down-arrow-white {
	background-image: url('/static/img/down-arrow-white.png');
	background-repeat: no-repeat;
	background-position: center right;
	padding: 0 9px 0 0;
}

#header #header-links a {
	color:#000;
	text-decoration:none;
}

/* Header End */	




/* Content */
#content {
	padding-top:30px;
}
/* Content End */




/* Splash */
#splash {
	display:block;
	background-color:#fff;
	width:100%;
	height:auto;
	margin-top:-30px;
}

#splash-content-container {
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:50px;
	padding-top:20px;
	text-align:center;
}

#splash #imac-wrapper {
	width:100%;
}

#splash #imac-screenshot-wrapper {
	margin-left:auto;
	margin-right:auto;
}

#splash .imac-screenshot {
	width:100%;
	height:100%;
	display:none;
}
/* Splash End */





/* Foyer */
#foyer {
	width:100%;
}

#foyer #foyer-content-container {
	width:95%;
	max-width:1100px;
	height:auto;
	
	margin-left:auto;
	margin-right:auto;
	
	-moz-box-shadow: inset 0 0 1px 1px #202020;
	-webkit-box-shadow: inset 0 0 1px 1px #202020;
	box-shadow: inset 0 0 1px 1px #202020;
	margin-top:-1px;
	
	background-color:transparent;
	background-image:url('/static/img/transparent-foyer-bg.png');
	background-repeat:repeat;
	
	-moz-border-bottom-left-radius:10px;
	-moz-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

#foyer #foyer-banner-container {
	
	width: -webkit-calc(100% - 2px);
	width: -moz-calc(100% - 2px);
	width: calc(100% - 2px);

	/*padding:10px;*/
	
	border-bottom: 1px solid #231F20;
	border-left:1px solid #000;
	border-right:1px solid #000;
}

#foyer #foyer-banner {
	width:100%;
	
	height:150px;
	
	background-color:#000;
	background-image:url('http://media.wizards.com/images/magic/daily/wallpapers/Nice_Holiday_1280x960_Wallpaper.jpg');
	background-position:0px -250px;
}

/*#foyer .foyer-padding {
	margin-left:10px;
	margin-right:10px;
	padding-top:10px;
	padding-bottom:10px;
}*/

#foyer #foyer-links {
	width:100%;
	
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 36px;
	height:36px;
	text-transform: uppercase;
	text-align:center;
	font-weight:400;
	
	border-bottom: 2px solid #231f20;
}

#foyer #foyer-links a {
	color:#000;
	text-decoration:none;
}

/*#foyer #foyer-links .foyer-link {
	float:left;
}

#foyer #foyer-links .foyer-link-spacer {
	height:36px;
	min-height:36px;
	float:left;
}*/

#foyer #portal-container {
	width:100%;
	height:auto;
	
	color:#000;
	text-align:center;
}

#foyer #portal-left-pane {
	width: -webkit-calc(67.5% - 1px);
	width: -moz-calc(67.5% - 1px);
	width: calc(67.5% - 1px);
	
	height:460px;
	
	margin:0;
	
	border-right:1px solid #000;
}

#foyer #main-animate-wrapper {
	width:100%;
	height:460px;
	min-height:0px;
	
	overflow:hidden;
	
	/*-webkit-box-shadow: inset 0px 0px 0px 1px #000;
	box-shadow: inset 0px 0px 0px 1px #000;*/
}

#foyer #recent-decks {
	padding:0;
}

#foyer #recent-decks-top {
	width:100%;
	
	height:34px;
	
	border-bottom:1px solid #000;
	border-left:1px solid #000;
	
	-webkit-box-shadow: 0px 1px 7px #111;
	-moz-box-shadow:    0px 1px 7px #111;
	box-shadow:         0px 1px 7px #111;
	
	
	background-color:#fff;
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ccc));
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -o-linear-gradient(top, #eee, #ccc);
	background-image: linear-gradient(to bottom, #eee, #ccc);
	background-repeat: repeat-x;
	
	position:relative;
	z-index:1000;
}

#foyer #recent-decks-title {
	width:35%;
	/*font-family: 'Viga', sans-serif;*/
	font-family: 'Courgette', cursive;
	/*font-family: 'Orbitron', sans-serif;*/
	color:#373737;
	font-size:24px;
	line-height:34px;
	white-space:nowrap;
	font-weight:400;
	/*text-shadow: -1px -1px 1px #000, 0px 1px 1px #999;*/
}

#foyer #recent-decks-filters {
	line-height:34px;
	padding-right:60px;
	vertical-align:baseline;
	max-height:34px;
}

#foyer #recent-decks-filters .btn-group, #foyer #recent-decks-filters .btn {
	vertical-align:baseline;
}

#foyer #recent-decks-filters .dropdown-menu {
	top:75%;
}

#foyer #recent-decks-filters .btn-group + .btn-group {
	margin-left: 0px;
}

#foyer #recent-decks-content {
	height:425px;
}

#foyer #recent-decks-list {
	padding-left:60px;
	padding-right:60px;
	width: -webkit-calc(100% - 120px);
	width: -moz-calc(100% - 120px);
	width: calc(100% - 120px);
	
	overflow:auto;
	height:420px;
	padding-top:15px;
}

#foyer #recent-decks-load-more {
	display:block;
	width:100%;
	padding-top:10px;
	height:44px;
	line-height:44px;
}

#foyer #recent-decks-load-more button {
	vertical-align:baseline;
}

#foyer #sets {
	height:411px;
	overflow:auto;
}

#foyer #sets .table {
	margin-bottom:0px;
}

#foyer #sets tr:hover {
	cursor:pointer;
}

#foyer #set-select {
	clear:both;
	height:24px;
	margin-top:5px;
	text-align:right;
}

#foyer #set-select button {
	line-height:18px;
}

#foyer #select-draft-button {
	margin-right:3px;
}

#foyer #profile-container {
	width:100%;
}

#foyer #profile-container a {
	color:#000;
	text-decoration:none;
}

#foyer #profile-inner {
	width:100%;
}

#foyer #profile-top-row {
	width:100%;
	
	text-align:center;
	/*background-color:#aaa;*/
	height:34px;
	border-left:1px solid #000;
	
	/*-webkit-box-shadow: 0px 3px 5px -2px #444;
	box-shadow: 0px 3px 5px -2px #444;*/
	
	-webkit-box-shadow: 0px 1px 7px #111;
	-moz-box-shadow:    0px 1px 7px #111;
	box-shadow:         0px 1px 7px #111;
	
	
	background-color:#fff;
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ccc));
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -o-linear-gradient(top, #eee, #ccc);
	background-image: linear-gradient(to bottom, #eee, #ccc);
	background-repeat: repeat-x;
	
	position:relative;
	z-index:1000;
}

#foyer #profile-username {
	width:35%;
	font-size:24px;
	line-height:34px;
	white-space:pre-wrap;
	font-weight:400;
	font-family: 'Viga', sans-serif;
	color:#373737;
}

#foyer #profile-nav {
	line-height:34px;
	width: -webkit-calc(65% - 15px);
	width: -moz-calc(65% - 15px);
	width: calc(65% - 15px);
	padding-right:10px;
}

#foyer .nav {
	margin:0;
}

#foyer #profile-nav .nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
	color: #ffffff;
	background-color: #0088cc;
}

/*#foyer #profile-nav .profile-link {
	width:33%;
	float:left;
}*/

#foyer #profile-bottom-row {
	width: -webkit-calc(100% - 10px);
	width: -moz-calc(100% - 10px);
	width: calc(100% - 10px);
	margin-left:10px;
}

#foyer #profile-left-col {
	width:35%;
}

#foyer #profile-info {
	text-align:center;
	font-size:14px;
	line-height:14px;
	font-family: 'Open Sans', sans-serif;
	padding-top:10px;
}

#foyer #profile-info > .clearfix > .pull-left {
	font-family: 'Viga', sans-serif;
	color:#0088cc;
	width:44%;
	text-align:right;
}

#foyer #profile-info > .clearfix > .pull-right {
	width:54%;
	text-align:left;
}

#foyer #profile-image {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	border:2px solid #000;
	
	background-image:url('http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=366448&type=card');
	background-repeat:no-repeat;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0px 1px 3px 1px #777;
	box-shadow: 0px 1px 3px 1px #777;
}

#foyer #profile-image img {
	width:100%;
	height:100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#foyer #profile-description {
	margin-top:10px;
}

#foyer #profile-right-col {
	width:65%;
}

#foyer #profile-content-wrapper {
	overflow:auto;
	height: 415px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
}

#foyer #profile-content {
	
}

#foyer #profile-deck-previews {
	padding-bottom:75px;
}

#foyer .deck-preview {
	background-color:#fff;
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ccc));
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -o-linear-gradient(top, #eee, #ccc);
	background-image: linear-gradient(to bottom, #eee, #ccc);
	background-repeat: repeat-x;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	margin-bottom:5px;

	
	border: 2px solid #000;
	
	min-width:350px;
	
	-webkit-box-shadow: 0px 1px 3px 1px #777;
	box-shadow: 0px 1px 3px 1px #777;
}

#foyer .deck-preview-left {
	width99px;
}

#foyer .deck-preview-img {
	height:75px;
	width:75px;
	border-right:2px solid #000;
	
	background-image:url('http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=366385&type=card');
	background-repeat:no-repeat;
	
	-webkit-border-top-left-radius: 2px;
	-moz-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

#foyer .deck-preview-img img {
	width:100%;
	height:100%;
	-webkit-border-top-left-radius: 2px;
	-moz-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

#foyer .deck-preview-mana {
	width:14px;
	height:73px;
	padding-left:2px;
	padding-right:2px;
	margin-top:2px;
}

#foyer .deck-preview-color {
	float:left;
	height:12.5px;
	width:12.5px;
	background-size:12px 12px;
	background-repeat:no-repeat;
	margin-top:1.5px;
}

#foyer #deck-view .deck-preview-color {
	float:right;
}

#foyer #recent-decks-mana {
	height:37px;
	padding-top:1px;
}

#foyer #recent-decks-mana .deck-preview-color {
	float:left;
	height:24px;
	width:24px;
	background-size:24px 24px;
	background-repeat:no-repeat;
	margin-top:4px;
	margin-right:5px;
}

#foyer #deck-preview-white {
	background-image:url('/static/img/white-mana.jpg');
}

#foyer #deck-preview-blue {
	background-image:url('/static/img/blue-mana.jpg');
}

#foyer #deck-preview-black {
	background-image:url('/static/img/black-mana.jpg');
}

#foyer #deck-preview-red {
	background-image:url('/static/img/red-mana.jpg');
}

#foyer #deck-preview-green {
	background-image:url('/static/img/green-mana.jpg');
}

#foyer .deck-preview-right {
	width: -webkit-calc(100% - 98px);
	width: -moz-calc(100% - 98px);
	width: calc(100% - 98px);
	text-align:left;
	-webkit-border-top-right-radius: 2px;
	-moz-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

#foyer .recent-deck-right {
	width: -webkit-calc(100% - 80px);
	width: -moz-calc(100% - 80px);
	width: calc(100% - 80px);
	text-align:left;
	-webkit-border-top-right-radius: 2px;
	-moz-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

#foyer .deck-preview-info {
	width: -webkit-calc(100% - 30px);
	width: -moz-calc(100% - 30px);
	width: calc(100% - 30px);
	text-align:center;
	line-height:25px;
}

#foyer .deck-preview-info-left {
	line-height:37px;
}

#foyer .deck-preview-title {
	white-space:nowrap;
	font-weight:200;
	font-size:28px;
}

#foyer .deck-preview-info-right {
	line-height:37px;
	margin-right:5px;
}

#foyer .deck-preview-format {
	font-weight:300;
	font-size:18px;
	font-style:italic;
}

#foyer .deck-preview-btns {
	text-align:right;
	max-height:75px;
	overflow:hidden;
	border-left:2px solid #000;
}

#foyer .deck-preview-btns button {
	padding: 1.5px 6px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	/*margin-top:3px;*/
}

#foyer #deck-preview-view-btn {
	-webkit-border-top-right-radius: 2px;
	-moz-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
}

#foyer #deck-preview-info-btn {
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

#foyer #deck-view-nav {
	height:34px;
	line-height:34px;
	vertical-align:baseline;
	max-height:34px;
}

#foyer #deck-view-nav .btn-group, #foyer #deck-view-nav .btn {
	vertical-align:baseline;
	max-height:34px;
	margin-top:1px;
}

#foyer #deck-view-nav .dropdown-menu {
	top:85%;
	min-width:0px;
}

#foyer #deck-view-nav .btn-group + .btn-group {
	margin-left: 0px;
}

#foyer #deck-view-title {
	font-size:30px;
	line-height:34px;
	font-weight:600;
	text-align:left;
	padding-left:4%;
	padding-right:4%;
}

#foyer #deck-view-thumbnail {
	background-repeat:no-repeat;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color:#000;
	background-image:url('http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=366369&type=card');
	border:1px solid #444;
	width:50px;
	height:36px;
}

#foyer #deck-view-title-right {
	width: -webkit-calc(100% - 57px);
	width: -moz-calc(100% - 57px);
	width: calc(100% - 57px);
}

#deck-view-mana {
	margin-top:2px;
}

#foyer .deck-view-left {
	width:44%;
	padding-left:4%;
}

#foyer .deck-view-right {
	width:44%;
	padding-right:4%;
}

#foyer .deck-view-section {
	text-align:right;
	padding-bottom:20px;
}

#foyer .deck-view-section a {
	color:#0088cc !important;
}

#foyer .deck-view-section h1 {
	color:#000;
	line-height:26px;
	font-size:22px;
	font-weight:200;
	text-align:left;
	margin-top:0;
	font-family: 'Viga', sans-serif;
	color:#444;
}

#foyer .deck-view-section p {
	line-height:14px;
	margin-bottom:0;
	text-align:left;
}

#foyer #deck-view-description {
	text-align:left;
	padding-left:4%;
	padding-right:4%;
}

#foyer #share-deck-wrapper {
	margin-bottom:30px;
}

#foyer #share-deck-wrapper > .deck-view-section {
	padding-bottom:0px;
}

#foyer #share-deck-wrapper input {
	margin-left:6%;margin-right:6%;width:86%;
}



/*#foyer .vertical-rule {
	display:inline-block;
	width:0;
	height:460px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0;
	-moz-box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0;
	box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0;
	border-left: 1px solid #121212;
	border-top: none;
	margin:0;
	margin-top:-10px;
	margin-left:10px;
	margin-right:10px;
	}*/

#foyer #portal-right-pane {
	width: -webkit-calc(32.5% - 1px);
	width: -moz-calc(32.5% - 1px);
	width: calc(32.5% - 1px);
	
	height:460px;
	
	margin:0;
}

#foyer #chat {
	width: 100%;
}

#foyer .chat-username {
	font-size:14px;
	font-weight:600;
	padding-right:5px;
	line-height:14px;
	color:#0088cc !important;
}

#foyer .chat-msg {
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	font-size:14px;
	font-weight:200;
	line-height:14px;
}

#foyer #chat #chat-convo-wrapper {
	width:100%;
	height:425px;
	overflow:auto;
	text-align:left;
	padding:0;
}

#foyer #chat #chat-convo {
	width:100%;
	padding-bottom:20px;
	font-family: 'Viga', sans-serif;
}

#foyer #chat-input {
	clear:both;
	width: -webkit-calc(100% - 20px);
	width: -moz-calc(100% - 20px);
	width: calc(100% - 20px);
	
	padding-left:10px;
	padding-right:10px;
	height:34px;
	
	background-color:#fff;
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ccc));
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -o-linear-gradient(top, #eee, #ccc);
	background-image: linear-gradient(to bottom, #eee, #ccc);
	background-repeat: repeat-x;
	
	border-top:1px solid #000;
}

#foyer #chat-input input {
	width: -webkit-calc(100% - 96px);
	width: -moz-calc(100% - 96px);
	width: calc(100% - 96px);
	height:24px;
	margin:0px;
	padding:0px;
	display:inline-block;
	-moz-border-top-right-radius:0;
	-moz-border-bottom-right-radius:0;
	-webkit-border-top-right-radius:0;
	-webkit-border-bottom-right-radius:0;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	margin-top:5px;
	background-color:#eee;
	color:#000;
	padding-left:5px;
}

#foyer #chat-input button {
	line-height:18px;
	margin-top:5px;
	font-family: 'Viga', sans-serif;
}

#foyer .appended {
	-moz-border-top-left-radius:0;
	-moz-border-bottom-left-radius:0;
	-webkit-border-top-left-radius:0;
	-webkit-border-bottom-left-radius:0;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}

/*#foyer #portal #chat-input #color-picker {
	height:25px;
	width:25px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:1px;
	padding-right:1px;
	display:inline-block;
	margin-bottom:0px;
	margin-left:5px;
	margin-right:5px;
}*/

#foyer #userlist {
	margin-left:0px;
	height:425px;
	overflow:auto;
	width:100%;
	text-align:left;
}

#foyer #chat-user-total {
	line-height:35px;
	font-size:22px;
	font-family: 'Viga', sans-serif;
	font-weight:400;
	color:#444;
	width: 100%;
	text-align:center;
	padding-bottom:10px;
}

#foyer .chat-user {
	padding-right:5px;
	color:#0088cc;
}

#foyer .chat-user:hover, #foyer .chat-username:hover {
	cursor:pointer;
}

#foyer .chat-status {
	font-size:10px;
	font-weight:200px;
	font-style:italic;
	color:#000;
}

#foyer #foyer-subcontent {
	width:100%;
	
	margin-left:auto;
	margin-right:auto;

	padding-top:50px;
	padding-bottom:50px;
	
	text-align:center;
	color:#000;
	
	border-top: 1px solid #231f20;
}

#foyer .headline-txt {
	font-size:45px;
	font-weight:200;
	line-height:45px;
	font-style:italic;
	font-family: 'Raleway', sans-serif;
}

#foyer #foyer-subcontent #share {
}

#foyer #foyer-subcontent #share-msg {
	margin-bottom:7px;
}

#foyer #foyer-subcontent #share-buttons {
	height:38px;
	line-height:38px;
}

#foyer #foyer-subcontent #share-caption {
	font-size:15px;
	line-height:15px;
	font-style:normal;
	font-weight:200;
}

#foyer .horizontal-rule {
	clear:both;
	width:100px;
	margin-left:auto;
	margin-right:auto;
}

#foyer #foyer-subcontent #donate {
	font-family: 'Raleway', sans-serif;
	font-size:38px;
	font-weight:200;
	line-height:38px;
	font-style:italic;
	margin-left:auto;
	margin-right:auto;
}

#foyer #foyer-subcontent #donate-quote {
	max-width:550px;
	margin-left:auto;
	margin-right:auto;
}

#foyer #foyer-subcontent #donate-quote small {
	font-size:22px;
	line-height:22px;
	font-style:normal;
	display:block;
	padding-top:3px;
	padding-bottom:20px;
}

#foyer #foyer-subcontent #donate-closer {
	
}

#foyer #foyer-subcontent #donate-closer span {
	font-size:32px;
	line-height:32px;
}

#foyer #foyer-subcontent #donate-closer img {
	width:100%;
	max-width:100px;
	margin-top:3px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#foyer #foyer-footer {
	margin-left:auto;
	margin-right:auto;
}

#foyer #foyer-disclaimer {
	clear:both;
	width:auto;
	height:80px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	text-align:center;
	width:70%;
}

#foyer #foyer-disclaimer small {
	display:block;
}
/* Foyer end */


/* Draft View Divs and Classes */
#draft {
	width:100%;
	background-image:url('/static/img/retina_wood.png');
	background-repeat: repeat;
}

#draft .less-space [class*="span"] {
	margin-left:0.25%;
}

#draft .no-height {
  height:0px;
}

#draft .no-padding {
	padding:0%;
}

.select {
	-moz-box-shadow: inset 0 0 7px 7px #0090ff !important;
	-webkit-box-shadow: inset 0 0 7px 7px#0090ff !important;
	box-shadow: inset 0 0 7px 7px #0090ff !important;
}
  
 /* Draft View, Pack Screen */
#draft #pack-screen {
	width:100%;
	height:auto;
	position:fixed;
	background-image:url('/static/img/retina_wood.png');
	background-repeat: repeat;
	padding-top:5px;
}

#draft #pack-screen .row-padding {   	
	padding-bottom:0.25%;   
}

#draft #pack-screen #preview {
	background-image:url('/static/img/cardback.jpg');
	background-repeat: no-repeat;
	-moz-border-radius: 5.5%;
	-webkit-border-radius: 5.5%;
	border-radius: 5.5%;
}

#draft #pack-screen #preview img {
	width:100%;
}

#draft #pack-screen .row-fluid .span1 {
  width: 12.2%;
  *width: 11.95%;
	background-repeat: no-repeat;
	-moz-border-radius: 5.5%;
	-webkit-border-radius: 5.5%;
	border-radius: 5.5%;
}

#draft #pack-screen .row-fluid .span2 {
  width: 19.65%;
  *width: 19.50%;
}

#draft #pack-screen .row-fluid .span10 {
  width: 79.85%;
  *width: 79.50%;
	padding-bottom:5px;
}

#draft #pack-screen .border-bottom {
	border-bottom: 1px solid #222;
}
 
 /* Control Bar */
   #draft #control-bar {
 		color:#fff;
 		background: rgb(48,49,53); /* Old browsers */
 		background: -moz-linear-gradient(top,  rgba(48,49,53,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
 		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(48,49,53,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
 		background: -webkit-linear-gradient(top,  rgba(48,49,53,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
 		background: -o-linear-gradient(top,  rgba(48,49,53,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
 		background: -ms-linear-gradient(top,  rgba(48,49,53,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
 		background: linear-gradient(to bottom,  rgba(48,49,53,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
 		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303135', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
 		font-weight:400;
 		min-height:0px;
 		padding-top:7px;
 		padding-bottom:6px;
 		padding-left:15px;
 		border-top:1px solid #777;
 		border-bottom:1px solid #000;
 		-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
 		-moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.75);
 		box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.75);
   }
 	
 	#draft #control-bar #info {
 		
 	}
     
 	#draft #control-bar #info .set-symbol {
 		display:inline-block;
 		float:left;
 		width:60px;
 		height:36px;
 		line-height:36px;
 		font-size:28px;
 		padding-right:3px;
 		padding-top:5px;
 		background-image:url('/static/img/gtc_symbol.png');
 		background-repeat:no-repeat;
 		background-size:60px 36px;
 		color:#fff;
 		text-align:center;
 	  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
 	}
 	
 	#draft #control-bar #info .card-count {
 		opacity:0.5;
 		margin-left:-4px;
 	}
 	
 	#draft #control-bar #info #pick-info-button {
 		float:left;
 		width:60px;
 		height:40px;
 		line-height:30px;
 		color:#fff;
 		text-align:center;
 		margin-left:10px;
 	}
 	
 	@font-face {
 	  font-family: 'digital';
 	  src: url('/fonts/digi.ttf');
 	}
 	
 	#draft #control-bar #timer.digital-clock {
 		float:right;
 		width:80px;
 	}
 	
 	#draft #control-bar .digital-clock {
 		font-family: digital, arial, verdana;
 		font-size:36px;
 		line-height:36px;
 		background: rgb(17,17,17); /* Old browsers */
 		background: -moz-linear-gradient(top,  rgba(17,17,17,1) 0%, rgba(38,38,38,1) 100%); /* FF3.6+ */
 		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,17,17,1)), color-stop(100%,rgba(38,38,38,1))); /* Chrome,Safari4+ */
 		background: -webkit-linear-gradient(top,  rgba(17,17,17,1) 0%,rgba(38,38,38,1) 100%); /* Chrome10+,Safari5.1+ */
 		background: -o-linear-gradient(top,  rgba(17,17,17,1) 0%,rgba(38,38,38,1) 100%); /* Opera 11.10+ */
 		background: -ms-linear-gradient(top,  rgba(17,17,17,1) 0%,rgba(38,38,38,1) 100%); /* IE10+ */
 		background: linear-gradient(to bottom,  rgba(17,17,17,1) 0%,rgba(38,38,38,1) 100%); /* W3C */
 		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
 		padding-left:5px;
 		padding-right:5px;
 		color:#5bb75b;
 		text-shadow: 0 0 5px rgba(0, 200, 0, 1);
 		-moz-box-shadow: inset -1.5px -1.5px 2px #222;
 		-webkit-box-shadow: inset -1.5px -1.5px 2px #222;
 		box-shadow: inset -1.5px -1.5px 2px #222;
 		border-top:1px solid #111;
 		border-left:1px solid #111;
 		border-bottom:1px solid #2B2B2B;
 		border-right:1px solid #2B2B2B;
 		-webkit-border-radius: 4px 4px 4px 4px;
 		-moz-border-radius: 4px 4px 4px 4px;
 		border-radius: 4px 4px 4px 4px;
 		text-align:center;
 	}
 	
 	
 	
 	#draft #control-bar #shuffle {
 		float:right;
 		padding-left:10px;
 		padding-right:10px;
 		
 	}
 	
 	#draft #control-bar #shuffle #shuffle-button {
 		padding-right: 12px;
 		padding-left: 12px;
 		line-height:28px;
 	}
 	
 
 /* Pick Screen */
   #draft #pick-screen {
 		padding-bottom:500px;
   }
 	
   #draft #pick-screen .row-fluid .span1 {
     width: 9.72%;
     *width: 9.47%;
   }
 	
   #draft #pick-screen .stack {
 		margin-bottom:-12%;
   }
 	
   #draft #pick-screen .rounded {
 		-moz-border-radius: 6.5%;
 		-webkit-border-radius: 6.5%;
 		border-radius: 6.5%;
 		
   }
 	
 	
 	
			
			/*End Draft styles*/


/* Limited template styles */	
#limited, #builder {
	width:100%;
	
	margin:0;
	padding:0;
	
	padding-top:5px;
	
	overflow:hidden;
}
	
#top-screen {
	width:100%;
	
	padding:0;
	
	overflow:hidden;
}
	
#preview-wrapper {
	margin-left:5px;
}
	
#img-preview {
	background-color:transparent;
	background-repeat: no-repeat;
	
	margin-left:3px;
	margin-top:3px;
	
	-webkit-border-radius: 6%;
	-moz-border-radius: 6%;
	border-radius: 6%;
	
	-moz-box-shadow:inset 0px 0px 1px 1px #888;
	-webkit-box-shadow:inset 0px 0px 1px 1px #888;
	box-shadow:inset 0px 0px 1px 1px #888;
}
	
	
#card-pool {
	margin-left:5px;
}
	
#card-pool-scroll {
	width:100%;
	
	overflow:auto;
}
	
#card-pool-inner {
	padding-left:3px;
}
	
.column {
	padding-top:3px;
	float:left;
	margin-top:178px;
}
	
#control-bar-container {
	padding-top:3px;
	padding-bottom:3px;
	width:100%;
	color:#fff;
	font-weight:400;
	min-height:0px;
	line-height:22px;
}

#limited-control-bar-left {
	min-width:260px;
	
	margin-left:5px;
	margin-right:5px;
}
	
#mainboard-breakdown {
	
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	font-weight:400;
	line-height:22px;
	
	color:#fff;
	text-shadow: -1px -1px 1px #000, 0px 1px 1px #444; /* Bevel text */
	text-align:center;
}
	
/*#limited #mainboard-breakdown .well {
	min-width:25px;
	display:inline-block;
	text-align:right;
	padding-right:8px;
	text-shadow: 0 0 3px rgba(250, 250, 250, 0.5);
	color:#ddd;
}*/
	


#limited-control-bar-right {
	
}

#offset-y-container {
	width: -webkit-calc(100% - 236px);/* Minus width of #control-bar-buttons */
	width: -moz-calc(100% - 236px);
	width: calc(100% - 236px);
}

#drag-offset-y {
	line-height:22px;
	text-align:center;
}

#drag-offset-y :hover {
	cursor:ns-resize;
}

#control-bar-buttons {
	max-height:22px;
	margin:0;
	vertical-align:baseline;
	margin-right:5px;
}

#control-bar-buttons .btn-mini {
	padding:0px 6px;
}
	
#control-bar-buttons .btn-group {
	line-height:12px;
}

#control-bar-buttons .dropdown-menu {
	top:90%;
}

#add-land-btn {
	color:#000;
}	

#add-land-dropdown {
	width:136px;
	min-width:136px;
}

#add-land-dropdown li {
	padding-left:20px;
	padding-right:20px;
	width:96px;
}

#add-land-dropdown img {
	height:20px;
	width:20px;
}

.half-width {
	width:50%;
}

#add-land-dropdown i {
	position:relative;
	top:2px;
}

#add-land-dropdown span {
	padding-left:5px;
}

#add-land-dropdown button {
	margin-top:4px;
}

#add-land-dropdown .text-center {
	text-align:center;
}

#add-land-dropdown .add-land-dropdown-btns div {
	width:48%;
}

#control-bar-setting-btn [class^="icon-"], [class*=" icon-"] {
	margin:0;
	vertical-align:none;
}

#control-bar-settings-btn .dropdown-menu {
	width:170px;
	min-width:170px;
}

#card-size-slider {
	line-height:20px;
	display:inline-block;
	color:#000;
	padding-left:10px;
	padding-right:10px;
	width:150px;
}

#card-size-slider-left {
	width:120px;
}

#card-size-slider-left-left {
	width:10px;
	margin-right:10px;
	margin-top:6px;
}

#card-size-slider-left-left img {
	width:10px;
	height:auto;
}

#card-size-slider-left-right {
	width:100px;
	margin-top:4px;
}

#card-size-slider-right {
	width:20px;
	margin-left:10px;
}

#card-size-slider-right img {
	width:20px;
	height:auto;
}
	
input[type="range"]{
	/*-webkit-appearance:none; 
	-moz-apperance:none; */
	width:100px;
	height:5px;
	margin-top:-1px;
}
	
#card-size-slider input::-webkit-slider-thumb{
	-webkit-appearance:none; 
	-moz-apperance:none;
	width:10px; 
	height:10px;
	-webkit-border-radius:10px; 
	-moz-border-radius:10px; 
	-ms-border-radius:10px; 
	-o-border-radius:10px; 
	border-radius:10px;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(0.49, #dddddd), color-stop(0.51, #d1d1d1), color-stop(1, #a1a1a1) );
}



#control-bar-buttons div {
	/*display:inline-block;*/
}
 	
#control-bar-container #sort {
}
 	
#control-bar-container #sort .input-prepend {
	padding-bottom:0px;
	margin-bottom:0px;
}
 	
#control-bar-container #sort-wrapper {
	height:22px;
	width:auto;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	padding-right:3px;
	border-left:0px;
}
 	
#control-bar-container #sort #sort-button {
	border:0px;
	border-right:1px solid;
	border-right-color: rgba(0, 0, 0, 0.0980392);
	height:22px;
}
 	
#control-bar-container .dropdown-menu {
	min-width:0px;
	text-align:center;
}
	
#bottom-screen {
	width:100%;
}
	
#deck-area {
	margin-left:5px;
}
	
#deck-area-scroll {
	overflow:auto;
	width:100%;
}
	
#deck-area-inner {
	float:left;
	padding-left:3px;
}
	
.card {
	display:block;
	background-position: 0px -1px;
	background-repeat: no-repeat;
	margin-right:3px;
	-webkit-border-radius: 6.5%;
	-moz-border-radius: 6.5%;
	border-radius: 6.5%;
	-moz-box-shadow:inset 0px 0px 1px 1px #888;
	-webkit-box-shadow:inset 0px 0px 1px 1px #888;
	box-shadow:inset 0px 0px 1px 1px #888;
	height:198.7px;
	width:143px;
	margin-top:-178px;
	background-size:143px 198.7px;
	position:relative;
	/* z-index:-1; */
		
	background-image:url('/static/img/cardback.jpg');
}

#drag-drop-card {
	-webkit-border-radius: 6.5%;
	-moz-border-radius: 6.5%;
	border-radius: 6.5%;
	-moz-box-shadow:inset 0px 0px 1px 1px #888;
	-webkit-box-shadow:inset 0px 0px 1px 1px #888;
	box-shadow:inset 0px 0px 1px 1px #888;
	/* pointer-events: none; */
}
	
.cardResize {
	background-color:#fff;
	-moz-box-shadow:inset 0px 0px 1px 7px #000;
	-webkit-box-shadow:inset 0px 0px 1px 7px #000;
	box-shadow:inset 0px 0px 1px 7px #000;
}
/* End limited template styles */

#lightbox-container {
	display:none;
	position:fixed;
	width:300px;
	box-sizing:border-box;
	top:100px;
	max-width: 600px;
	background: #fff;
	z-index: 6000;
	display: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#lightbox-inner {
	padding:20px;
	text-align:center;
	height:auto;
	width: -webkit-calc(100% - 40px);
	width: -moz-calc(100% - 40px);
	width: calc(100% - 40px);
}

#lightbox-txt-container h1 {
	color:#000;
	font-size:26px;
	font-weight:200;
	line-height:26px;
	margin-top:0;
}

#lightbox-shadow {
	display:none;
	position:fixed;

	z-index: 3000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity=85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}

#lightbox-login-register-container {
	max-width:300px;
	margin-left:auto;
	margin-right:auto;
	color:#000;
}

#lightbox-login-register-container input {
	margin-bottom:7px;
}

#auth-error-wrapper {
	overflow:hidden;
	height:0px;
	display:none;
	opacity:0;
}

#auth-error {
	margin-bottom:10px;
	margin-top:3px;
	display:block;
}

#auth-error button {
	line-height:20px;
}

#register-animate-wrapper {
	opacity:0;
}

#register-view-register-btn {
	margin-bottom:10px;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	
}

#register-view-login-btn {
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}

#login-view-login-btn {
	text-align:center;
	margin-bottom:10px;
	overflow:hidden;
}

#login-view-register-btn {
	overflow:hidden;
}

#profile-settings-thumbnail {
	background-image:url('http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=366305&type=card');
	background-repeat:no-repeat;
	width: -webkit-calc(100% - 2px);
	width: -moz-calc(100% - 2px);
	width: calc(100% - 2px);
	height:188px;
	/*background-color:#000;*/
	margin-bottom:10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #444;
}
