@import url('./header.css');
/*@import url('./splash.css');*/
@import url('./foyer.css');
@import url('./limited-and-builder.css');
@import url('./lightbox.css');
/*@import url('./draft.css');*/

/* General classes and styles */
body, html {
	height:100%;
	width:100%;
}

#background-wrap {
	background-repeat:no-repeat;
	background-attachment:fixed;
	-webkit-background-attachment:fixed;
	background-color:transparent !important;
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

textarea {
    resize: none;
}

a:hover {
	cursor:pointer;
}

::-moz-selection { background: #555; color: #fff; text-shadow: none; }
::selection { background: #555; color: #fff; text-shadow: none; }

.well {
	padding:0;
	margin:0;
}
.row-fluid {
	min-height:0px;
}

.raised {
	-moz-box-shadow: inset 0 -5px 15px -3px rgba(0, 0, 0, 0.8), inset 0 5px 15px -6px rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 -5px 15px -3px rgba(0, 0, 0, 0.8), inset 0 5px 15px -6px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 -5px 15px -3px rgba(0, 0, 0, 0.8), inset 0 5px 15px -6px rgba(255, 255, 255, 0.3);
	background: #202020;
	border: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.no-select {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

body.ns-resize-cursor {
	cursor:ns-resize !important;
}

input[readonly] {
	cursor:auto;
}

.typeahead {
	z-index:9999;
}

#loading {
	height:100%;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:99999;
	display:none;
}

.hr-shadow {
	height:6px;
	border:0;
	box-shadow:inset 0 6px 6px -6px black;
	position:relative;
	z-index:100;
}

.hr-faded {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.down-arrow {
	background-image: url('/static/img/downArrow.png');
	background-repeat: no-repeat;
	background-position: center right;
	padding: 0 9px 0 0;
}

.down-arrow-white {
	background-image: url('/static/img/down-arrow-white.png');
	background-repeat: no-repeat;
	background-position: center right;
	padding: 0 9px 0 0;
}

.close.pull-left {
	margin-left:1px;
}

.btn-group.btn {   border: 0;   padding: 0; }

.btn-group.btn > .dropdown-menu {  text-align: left; }

.table-bordered th,
.table-bordered td {
  border-left: 0px;
}

#content {
	padding-top:45px; /* To compensate for height of fixed header */
	height: -webkit-calc(100% - 45px);
	height: -moz-calc(100% - 45px);
	height: calc(100% - 45px);
	width:100%;
}

#template-plugin {
	height:100%;
	width:100%;
}
/* General classes and styles end */