/* Header */
#header {
	margin-bottom: 0;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 2000;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#header-container {
	width:95%;
	max-width:1100px;
	height:45px;/* linked with #content padding-top */
	margin-bottom: 0;
	margin-left:auto;
	margin-right:auto;
}

.foyer-header {
	-webkit-box-shadow: 0px 1px 7px #111;
	-moz-box-shadow:    0px 1px 7px #111;
	box-shadow:         0px 1px 7px #111;
	
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #fff, #a0a0a0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#a0a0a0));
	background-image: -webkit-linear-gradient(top, #fff, #a0a0a0);
	background-image: -o-linear-gradient(top, #fff, #a0a0d0);
	background-image: linear-gradient(to bottom, #fff, #a0a0a0);
	background-repeat: repeat-x;
}

#header-profile-btn {
	height:41px !important;
	width:57px !important;
	margin-top:1px;
	margin-right:1px;
	background-repeat:no-repeat;
	background-image:url('http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=278058&type=card');
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #000;
}

#header-profile-btn img {
	height:100%;
	width:100%;
	float:left;
	margin-top:0;
}
#header-profile-btn .btn {
	height:41px;
	width:57px;
	border:0;
	margin:0;
	padding:0;
	margin-top:0 !important;
}

#header-profile-btn ul {
	min-width:0;
	text-align:center;
}

#header .btn-group.open .btn.dropdown-toggle {
	background-color: transparent;
}

#header .tab {
	font-size:12px;
	font-weight:200;
	line-height:12px;
	padding-top:6px;
	padding-bottom:6px;
	color:#888;
}

#header-links {
	font-family: 'Viga', sans-serif;
	font-size: 20px;
	line-height: 45px;
	height:45px;
	text-align:right;
	font-weight:400;
	text-decoration:none;
}

#header-links .header-link-spacer {
	height:30px;
	min-height:30px;
	float:left;
}

#header-links .btn {
	margin-top:3px;
}

#header-links .dropdown-menu {
	font-family: 'Open Sans', sans-serif;
	min-width:0;
}

a.header-link {
	color:#373737;
}

/* Header End */